{% assign settings = site.data[page.site_type].settings %}

<ul>
    <li class="{% if page.url == "/{{page.site_type}}/" %} active {% endif %}">
        <a href="/pages/{{page.site_type}}/"><i class="fi-home"></i> <span class="home-text">Home</span></a>
    </li>
    {% for item in settings.top_menu %}
        {% assign path = item.title | downcase %}
        <li class="{% include common/snippets/is_active.html current_path=path %} {{item.visibility}}">
            <a href="{{ item.url }}"><i class="{{ item.icon }}"></i> {{ item.title }}</a>
        </li>
    {% endfor %}
</ul>