{% assign settings = site.data[page.site_type].settings %}

<ul>
    {% for item in settings.top_menu %}

    	{% assign path = item.title | downcase %}

		{% if forloop.first %}
		    <li class="{% if page.url == item.url %} active {% endif %}">
		        <a href="{{ item.url }}"><i class="{{ item.icon }}"></i> <span class="home-text">{{ item.title }}</span></a>
		    </li>
		{% else %}
	        <li class="{% include common/snippets/is_active.html current_path=path %} {{ item.visibility }}">
	            <a href="{{ item.url }}"><i class="{{ item.icon }}"></i> {{ item.title }}</a>
	        </li>
        {% endif %}

    {% endfor %}
</ul>