---
layout: checkpoint/app/master
---

<div class="homepage">

    <!-- HEADER -->
    <div class="lv-header FixedTop">
        {% include checkpoint/app/modules/header.html %}
    </div>

    <!-- NAVIGATION -->
    <nav class="lv-navigation show-for-large-up">
        <div class="lv-topbar">
            {% include checkpoint/app/modules/topbar.html %}
        </div>
    </nav>

    <!-- STAGE -->
    <section class="lv-stage">

        <!-- MAIN -->
        <main class="lv-main">
            <div class="row">
                <div class="columns">
                    {{ content }}
                </div>
            </div>
        </main>

    </section> <!-- .stage -->

    <!-- FOOTER -->
    <footer class="lv-footer">
        {% include checkpoint/app/modules/footer.html %}
    </footer>

</div> <!-- .homepage -->