---
layout: common/internal
---

<!-- SEARCH FORM -->
<form class="lv-search-form" action="#" method="post" novalidate>
    <div class="row">
        <div class="medium-10 medium-centered columns">

            <!-- Keyword Search -->
            <div class="row collapse">
                <div class="small-10 medium-9 columns">
                    <input name="Search" type="text" placeholder="Type keywords to search">
                </div>
                <div class="small-2 medium-3 columns">
                    <button type="submit" class="button search-button flat radius postfix"><i class="show-for-small-only fi-magnifying-glass"></i> <span class="text hide-for-small">Search</span></button>
                </div>
            </div>

            <!-- Preferred Results Format -->
            <div class="row show-for-large-up">
                <div class="columns">
                    <ul class=".lv-inline-list text-center medium-text-left">
                        <li><label><input type="radio" name="sf-result-type" value="Free Text" checked>&nbsp; Tree of Contents</label></li>
                        <li><label><input type="radio" name="sf-result-type" value="Title">&nbsp; Document List</label></li>
                    </ul>
                    <br>
                </div>
            </div> <!-- .row -->

        </div>
    </div>
</form> <!-- .lv-search-form -->

<!-- ************************ END FORM ************************ -->

<!-- BREADCRUMBS + EXPORT OPTIONS -->
<div class="row">
    <div class="columns">
        {% include common/snippets/breadcrumbs.html %}
        {% include checkpoint/export_options/search_basic.html %}
    </div>
</div>

<!-- EXPAND LEVEL (CHECKPOINT ONLY) -->
<div class="row">
    <div class="columns text-right">
        <p>Expand level: <a href="#">1</a> | <a href="#">2</a></p>
    </div>
</div>

<!-- TOC -->
<div class="row">
    <div class="columns">
        {% include checkpoint/toc_output/toc_basic.html %}
    </div>
</div>