---
layout: common/internal
---

<!-- SEARCH FORM -->
<form class="lv-search-form lv-partial-view collapsed" action="#" method="post" novalidate>
    <div class="row">
        <div class="medium-11 large-10 columns">

            <!-- Create Field Names -->
            {% assign text_fields = "Keywords|Case Title / Party Name|Citation|Catchwords|Judge(s)|Court" | split: "|" %}

            <!-- Draw Fields -->
            {% for item in text_fields %}
                {% include common/components/form_text_input.html %}
            {% endfor %}

            <!-- Draw Select Field -->
            {% include common/components/form_select_input.html title="Jurisdiction" %}

            <!-- Draw Date Fields -->
            {% include common/components/form_date_input.html title="Judgement Date" %}

            <div class="lv-advanced-options hide">

                <!-- Create Field Names -->
                {% assign text_fields = "Cases Cited (Title)|Cases Cited (Citation)|Legislation Cited (Title)|Legislation Cited (Provision)|Words & Phrases" | split: "|" %}

                <!-- Draw Fields -->
                {% for item in text_fields %}
                    {% include common/components/form_text_input.html %}
                {% endfor %}

                <!-- Draw Select Field(s) -->
                {% include common/components/form_select_input.html title="Reported / Unreported" %}
                {% include common/components/form_select_input.html title="Cases Updated" %}

            </div> <!-- .lv-advanced-options -->

            <!-- Toggle More Option Button -->
            <div class="row">
                <div class="medium-offset-3 medium-9 columns">
                    <a class="lv-advanced-options-btn button tiny pill radius" href="#">Show More</a>
                </div>
            </div>

            <!-- Draw Submit Fields -->
            {% include common/components/form_submit_clear_input.html path="#SEND-PATH-TO-DEMO-LOCATION" %}

        </div>
    </div>
</form> <!-- .lv-search-form -->

<!-- ************************ END FORM ************************ -->

<!-- Form obscured on mobile (restricted height) - button will show all -->
<div class="row">
    <div class="medium-11 columns text-right">
        <a class="lv-partial-view-btn lv-non-legacy button pill tiny" href="#">Expand</a>
    </div>
</div>

<!-- DOCUMENT OPTIONS -->
<div class="row">
    <div class="columns">
        {% include common/snippets/breadcrumbs.html %}
        {% include checkpoint/export_options/search_advanced.html %}
    </div>
</div>

<!-- EXPAND LEVEL (CHECKPOINT ONLY) -->
<div class="row">
    <div class="columns text-right">
        <p>Expand level: <a href="#">1</a> | <a href="#">2</a></p>
    </div>
</div>

<!-- TOC -->
<div class="row">
    <div class="columns">
        {% include checkpoint/toc_output/toc_cases.html %}
    </div>
</div>