/*
    SPECIAL.CSS

    - Last updated: 25.11.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Special
//-----------------------------------------------------------------

.lv-super .pagination {
    display: inline-block; // so we can text-align it
}

.label-quickfix {
	line-height: 32px; // where does it come from?
}

.postfix {
    position: relative;
    left: -2px;
}

.row.is-full-width {
    max-width: none;
}

.lv-loading {
	position: relative;
	visibility: hidden;

	&:after {
		content: "Loading...";
		visibility: visible;
		position: absolute;
		top: 0;
		width: 100%;
		text-align: center;
	}
}

.primary-color {
	color: $primary-color;
}

.alert-color {
	color: $alert-color;
}

//-----------------------------------------------------------------
// Lobby
//-----------------------------------------------------------------

.lv-lobby .logo-cp,
.lv-lobby .logo-wl {
	@include transition('all');

	&:active,
	&:hover {
	    -webkit-transform: scale(1.1);
	    -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	    -o-transform: scale(1.1);
	    transform: scale(1.1);
	}
}