{% assign settings = site.data.settings %}

<div class="row collapse is-full-width">

    <!-- Footer Links -->
    <div class="medium-6 medium-push-6 columns">
        <ul class="lv-footer-links lv-inline-list text-center medium-text-right">
            <li><a href="{{ settings.help }}" target="_blank">Help</a></li>
            <li class="has-dropdown"><span class="anchor">Sites</span></a>
                <ul class="lv-dropdown">
                    <li><a href="{{ settings.checkpoint_world }}" target="_blank"><i class="fi-web"></i> Checkpoint World</a></li>
                    <li><a href="{{ settings.proview }}" target="_blank"><i class="fi-web"></i> Proview</a></li>
                    <li><a href="{{ settings.westlaw_au }}" target="_blank"><i class="fi-web"></i> Westlaw Australia</a></li>
                    <li><a href="{{ settings.westlaw_nz }}" target="_blank"><i class="fi-web"></i> Westlaw New Zealand</a></li>
                </ul>
            </li>
            <li><a href="{{ settings.privacy_policy }}" target="_blank">Privacy Policy</a></li>
            <li><a href="{{ settings.terms_of_use }}" target="_blank">Terms of Use</a></li>
        </ul>
    </div>

    <!-- Footer Legal -->
    <div class="medium-6 medium-pull-6 columns">
        <div class="text-center medium-text-left">
            <small class="lv-footer-legal">&copy; <b>2014</b> <a href="{{ settings.thomson_reuters_au }}">Thomson Reuters</a> (Professional) Australia LTD - ABN 64 058 668</small>
        </div>
    </div>

</div> <!-- .row -->