{% assign username = "John Smith" %}

<section class="text-center large-text-left">

	<!-- Mobile Hamburgers -->
	<div class="left">
		<a class="lv-hamburger left hide-for-large-up" href="#off-canvas-menu-left"><i class="fi-list"></i></a>
		<a id="context-menu-btn" class="lv-hamburger left {% if page.context_menu == nil %} remove {% endif %}" href="#"><i class="fi-results"></i></a>
	</div>

	<!-- User Menu Hamburger -->
	<a class="lv-hamburger right hide-for-large-up" href="#off-canvas-menu-right"><i class="fi-results-demographics"></i></a>

	<div class="lv-logo-wrapper">

		<!-- Logo -->
		<a title="Checkpoint®" class="lv-logo" href="/">
			<img class="show-for-medium-up" width="152" src="/img/template/logo.png" alt="Thomson Reuters Checkpoint">
			<img class="hide-for-medium-up" width="40" src="/img/template/logo-mobile-black@2x.png" alt="Thomson Reuters Checkpoint">
		</a>

		<!-- Jurisdiction Select -->
		<div class="lv-jurisdiction-select">
			<i class="fa fa-caret-down"></i>
			<ul>
				<li class="first">
					<a class="hide-for-medium-up" href="#">AU</a>
					<a class="show-for-medium-up hide-for-large-up" href="#"><i class="flag-icon flag-icon-au"></i>&nbsp; AU</a>
					<a class="show-for-large-up" href="#"><i class="flag-icon flag-icon-au"></i>&nbsp; Australia</a>
				</li>
				<li class="last">
					<a class="hide-for-medium-up" href="#">NZ</a>
					<a class="show-for-medium-up hide-for-large-up" href="#"><i class="flag-icon flag-icon-au"></i>&nbsp; NZ</a>
					<a class="show-for-large-up" href="#"><i class="flag-icon flag-icon-nz"></i>&nbsp; New Zealand</a>

				</li>
			</ul>
		</div> <!-- .jurisdiction-select -->

	</div> <!-- .logo-switcher-wrapper -->

</section>

<!-- User Profile -->
<section class="lv-user-profile text-right show-for-large-up">
	<div class="left">
		<ul class="lv-user-profile-icons lv-inline-list close-gaps">
		    <li class="{% include snippets/is_active.html current_path="alerts" %}"><a href="/alerts/"><i class="fi-alert"></i>&nbsp; Alerts</a></li>
    		<li class="{% include snippets/is_active.html current_path="folders" %}"><a href="/folders/"><i class="fi-folder"></i>&nbsp; Folders</a></li>
		    <li class="{% include snippets/is_active.html current_path="history" %}"><a href="/history/"><i class="fi-clock"></i>&nbsp; History</a></li>
		    <li><a href="/modal_output/change-client-id.html" class="ajax-modal"><i class="fi-torso"></i>&nbsp; Client ID</a></li>
		    <li class="{% include snippets/is_active.html current_path="preferences" %}"><a href="/preferences/"><i class="fi-widget"></i>&nbsp; Preferences</a></li>
		</ul>
	</div>
	<div class="lv-user-text"><i class="fi-torso"></i>&nbsp; <b>{{ username | upcase }}</b> - <a href="#">Logout</a></div>
</section>

{% comment %}
	<section class="lv-user-profile text-right show-for-large-up">
		<div class="left">
			<a class="logout-btn" href="#">LOGOUT</a>
		</div>
		<div class="right lv-user-profile-pic" href="#">
			<img src="/img/ui/no-face.png" alt="Profile Pic">
			<i class="fa fa-caret-down"></i>
			<div class="lv-user-profile-dropdown">
				{% include menus/user_menu.html %}
			</div>
		</div>
	</section>
{% endcomment %}