{% assign username = "John Smith" %}

<section class="text-center large-text-left">

	<!-- Mobile Hamburgers -->
	<div class="left">
		<a class="lv-hamburger left hide-for-large-up" href="#off-canvas-menu-left"><i class="fi-list"></i></a>
		<a id="context-menu-btn" class="lv-hamburger left {% if page.url == "/" %} remove {% endif %}" href="#"><i class="fi-results"></i></a>
	</div>

	<!-- User Menu Hamburger -->
	<a class="lv-hamburger right hide-for-large-up" href="#off-canvas-menu-right"><i class="fi-results-demographics"></i></a>

	<div class="logo-switcher-wrapper">

		<!-- Logo -->
		<a title="Checkpoint®" class="logo show-for-medium-up" href="/">
			<img width="152" src="/img/content/logo.png" alt="Thomson Reuters Checkpoint">
		</a>

		<!-- Jurisdiction Select -->
		<div class="jurisdiction-select">
			<ul>
				<li><a href="#"><i class="flag-icon flag-icon-au"></i>&nbsp; Australia</a></li>
				<li><a href="#"><i class="flag-icon flag-icon-nz"></i>&nbsp; New Zealand</a></li>
			</ul>
		</div>

	</div> <!-- .logo-switcher-wrapper -->

</section>

<!-- User Profile -->
<section class="user-profile text-right show-for-large-up">
	<div class="left">
		<strong class="user-profile-title">{{ username }}</strong>
		<a class="logout-btn" href="#">LOGOUT</a>
	</div>
	<div class="right user-profile-pic" href="#">
		<img width="40" src="/img/ui/no-face.png" alt="Profile Pic">
		<i class="fa fa-caret-down"></i>
		<div class="user-profile-dropdown">
			{% include menus/user_menu.html %}
		</div>
	</div>
</section>