<div class="lv-sidebar-inner">

	<ul class="tabs text-center" data-tab role="tablist">
		<li class="tab-title active">
			<a title="Hints" href="#hints" role="tab"><i class="fi-lightbulb"></i><span class="text">Hints</span></a>
		</li>
		<li class="tab-title">
			<a title="Links" href="#links" role="tab"><i class="fi-star"></i><span class="text">Links</span></a>
		</li>
		<li class="tab-title">
			<a title="Community" href="#community" role="tab"><i class="fi-torsos"></i><span class="text">Community</span></a>
		</li>
		<li class="tab-title collapse-btn">
			<a title="Hide" href="#collapse" role="tab"><i class="fi-arrow-right"></i><span class="text">Hide</span></a>
		</li>
	</ul>

	<!-- TABS CONTENT -->
	<div class="tabs-content">

		<!-- DETAILS -->
		<section role="tabpanel" aria-hidden="false" class="content active" id="hints">
			{% if page.sidebar_details %}
				{% include {{ page.sidebar_details }} %}
			{% else %}
				{% include sidebar_content/default.html %}
			{% endif %}
		</section>

		<!-- QUICKLINKS -->
		<section role="tabpanel" aria-hidden="true" class="content" id="links">
			<h3>My Quicklinks <a href="#" class="button round tiny pill">Edit</a></h3>
			<br>
			<ul class="lv-quicklinks lv-content-block">
				<li><a href="/research/">This is an example of</a> <a href=""></a></li>
				<li><a href="/research/">Shorter link</a></li>
				<li><a href="/research/">This is an even longer example of a quicklink here</a></li>
				<li><a href="/research/">Another link</a></li>
				<li><a href="/research/">This is an example of a quicklink</a></li>
				<li><a href="/research/">Shorter link</a></li>
				<li><a href="/research/">This is an even longer example of a quicklink here</a></li>
				<li><a href="/research/">Another link</a></li>
				<li><a href="/research/">This is an example of a quicklink</a></li>
				<li><a href="/research/">Shorter link</a></li>
				<li><a href="/research/">This is an even longer example of a quicklink here</a></li>
				<li><a href="/research/">Another link</a></li>
			</ul>
		</section>

		<!-- COMMUNITY -->
		<section role="tabpanel" aria-hidden="true" class="content" id="community">
			<h3>Community</h3>
			<p>This feature is unavailable. Please check back later.</p>
		</section>

	</div>
</div> <!-- .lv-siderbar-inner -->