<ul>
    <li class="{% if page.url == "/" %} active {% endif %}">
        <a href="/"><i class="fi-home"></i> <span class="home-text">Home</span></a>
    </li>
    <li class="{% include snippets/is_active.html current_path="research" %}">
        <a href="/research/"><i class="fi-magnifying-glass"></i> Research</a>
        <ul class="lv-topbar-dropdown">
            <li><a href="/research/">Basic</a></li>
            <li><a href="/research/cases/">Cases</a></li>
            <li><a href="/research/cases/">Legislation / Commentary</a></li>
            <li><a href="/research/cases/">Journals</a></li>
            <li><a href="/research/cases/">News</a></li>
            <li><a href="/research/cases/">Government and Regulatory</a></li>
        </ul>
    </li>
    <li class="{% include snippets/is_active.html current_path="workflow" %} show-for-xlarge-up">
        <a href="/workflow/"><i class="fi-graph-bar"></i> Workflow</a>
    </li>
    <li class="{% include snippets/is_active.html current_path="tools" %} show-for-xlarge-up">
        <a href="#"><i class="fi-wrench"></i> Tools</a>
    </li>
    <li class="{% include snippets/is_active.html current_path="learning" %}">
        <a href="/learning/"><i class="fi-info"></i> Learning</a>
    </li>
</ul>