/*
    BREADCRUMBS.CSS

    - Last updated: 26.11.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Breadcrumbs
//-----------------------------------------------------------------

.lv-breadcrumbs {
    // border-bottom: 0;
    background: #FAFAFA;
    // background: #EDEFEF;
    // overflow: hidden;
    border: 1px solid #DDDDDD;
    border-radius: $global-radius;
    padding: rem-calc(10 15);
    margin-bottom: rem-calc(20);

    a,
    li {
        text-transform: capitalize;
        font-size: rem-calc(14);
    }
}

.fi-marker {
    // color: #FF405C;
    color: #C4C4C4;
}