/*
    TABLES.CSS

    - Last updated: 05.03.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$footable-bg: #5F6E7E; //#5A5C67;

//-----------------------------------------------------------------
// Table Responsive - Injected via JavaScript
//-----------------------------------------------------------------

.lv-table-responsive {
    // position: relative;
    // left: 15px;
    // right: 15px;
    // float: left;
    // overflow: hidden;
    // overflow-x: scroll;
    // width: 100%;
    // max-width: 100%;
    // height: 200px;
    // background: white;
    // padding: 15px;
    // border: 1px solid #ddd;

    .lv-table-responsive {
        // border: 0;
    }
}

//=========================================
//
//=========================================

.wrapper {
    // background: red;
    // float: left;
}

//-----------------------------------------------------------------
// Standard Table Styling
//-----------------------------------------------------------------

table {
    width: 100%;
    margin-bottom: rem-calc(30);
    border-collapse: separate;
    background: white;
    // border-collapse: collapse;
    // border-spacing: 0;
}

td,
td select {
    font-size: $paragraph-font-size;
}

//-----------------------------------------------------------------
// Table Tools (Delete, Export etc)
//-----------------------------------------------------------------

.lv-table-tools {
    input[type=text] {
        border: 1px solid #ddd;
        background: white url(../../img/common/ui/search-icon.svg) no-repeat 97% center;
        background-size: 18px;
    }

    .button {
        background: lighten(#5B5D68, 30%);

        &:hover {
            background: lighten(#5B5D68, 10%);
        }
    }
}

//-----------------------------------------------------------------
// Table Theme
//-----------------------------------------------------------------

.lv-table-theme {
    padding: rem-calc(0 15 15 15);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.08);
    // border-collapse: collapse;

    td, th {
        padding: rem-calc(10);
        text-align: left;
    }

    th {
        line-height: 40px;
        padding: 0;
    }

    th {
        white-space: nowrap;
        background: $footable-bg;
        font-size: $h6-font-size;
        // font-weight: 600;
        color: white;
        text-transform: uppercase;
    }

    th span {
        display: none !important;
    }

    td {
        border-top: 1px solid #F4F4F4;
    }

    // First Child
    tbody tr:first-child td {
        border-top: 0;
        padding-top: 25px;
    }

    input,
    select {
        margin-bottom: 0;
    }
}

//-----------------------------------------------------------------
// Footable Library
//-----------------------------------------------------------------

.footable {
    background: white url(../../img/westlaw/template/table-thead-bg.png) repeat-x; // hack

    .footable-toggle {
        display: none !important; // remove that plus minus thing
    }

    .fi-x {
        color: $alert-color;
    }

    .fi-check {
        color: $success-color;
    }

    .footable .zebra,
    .footableX tr:nth-of-type(odd) {
        // background: darken(#EEEFF3, 2%);
        // background: lighten(#EEEFF3, 2%);
        // background: #F4F6F9;
        // background: #EFF4F7;
    }

    .footable-detail-show {
        background: rgba(#5887B7, 0.05); // hit area highlight
    }
}

// Cell Detail
.footable-row-detail-cell {
    background: darken(#EEEFF3, 2%);
    border-top: 1px solid darken(#DDDDDD, 5%);
    box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.02);

    .footable-row-detail-inner {
        padding: rem-calc(10 15);
    }

    select {
        background: white;
        margin-bottom: 10px;
    }
}

//-----------------------------------------------------------------
// Precautionary Overrides (Counter inline styles)
// Move to legacy
//-----------------------------------------------------------------

.lv-super legend {
    background: none; // designed to override
    color: $header-font-color;
}

.lv-super input[type=checkbox] {
    margin-right: rem-calc(5);
}

.lv-super #templateBox {
    // border: 0;
    // border-color: $tertiary-color;
    padding: 0;
    margin: 0;
}

//-----------------------------------------------------------------
// Media Query
//-----------------------------------------------------------------

// @media (max-width: 8px) {

//     /* Force table to not be like tables anymore */
//     #no-more-tables table,
//     #no-more-tables thead,
//     #no-more-tables tbody,
//     #no-more-tables th,
//     #no-more-tables td,
//     #no-more-tables tr {
//         display: block;
//     }

//     /* Hide table headers (but not display: none;, for accessibility) */
//     #no-more-tables thead tr {
//         position: absolute;
//         top: -9999px;
//         left: -9999px;
//     }

//     #no-more-tables tr { border: 1px solid #ccc; }

//     #no-more-tables td {
//         /* Behave  like a "row" */
//         border: none;
//         border-bottom: 1px solid #eee;
//         position: relative;
//         padding-left: 50%;
//         white-space: normal;
//         text-align:left;
//     }

//     #no-more-tables td:before {
//         /* Now like a table header */
//         position: absolute;
//         /* Top/left values mimic padding */
//         top: 6px;
//         left: 6px;
//         width: 45%;
//         padding-right: 10px;
//         white-space: nowrap;
//         text-align:left;
//         font-weight: bold;
//     }

//     /*
//     Label the data
//     */
//     #no-more-tables td:before { content: attr(data-title); }
// }

.footable-page.active a {
    background: $primary-color;
    color: white;
}

.footable > tfoot .pagination {
  text-align: center;
}
.footable > tfoot .pagination ul {
  display: inline-block;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
.footable > tfoot .pagination ul > li {
  display: inline;
}
.footable > tfoot .pagination ul > li > a,
.footable > tfoot .pagination ul > li > span {
  float: left;
  border: 2px solid transparent;
  margin: 0 3px;
  color: #ffffff;
  background: transparent;
  padding: 1px 5px;
  text-decoration: none;
}
.footable > tfoot .pagination ul > li.disabled > a {
  color: #888;
}
.footable > tfoot .pagination ul > li.active > a {
  border-color: #ffffff;
}
.footable > tfoot .pagination ul > li:first-child > a,
.footable > tfoot .pagination ul > li:last-child > a,
.footable > tfoot .pagination ul > li:first-child > span,
.footable > tfoot .pagination ul > li:last-child > span {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
