<h4>About Alerts</h4>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia aut blanditiis necessitatibus provident animi ab magni. Architecto incidunt, quaerat ratione ex, dolor minima id repellendus vel laudantium nisi et quidem.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo sint animi blanditiis alias ullam harum aliquid tempore? Ullam laboriosam aspernatur, adipisci doloribus, rem cumque odit enim saepe eligendi, unde voluptatum.</p>

<p><a href="/modal_output/about-alerts.html" class="ajax-modal button small radius knockout">View Icon Reference</a></p>