<h3>Tips for Searching</h3>

<p>Checkpoint® supports the use of a number of different types of connectors. The most commonly used connectors are <strong>AND</strong> and <strong>OR</strong>. By default if you enter multiple terms with no connectors, Checkpoint® will automatically insert the '&amp;' <strong>(AND)</strong> connector in between each term.</p>

<p>The connectors you can use on Checkpoint®, their symbols and an example are listed below:</p>
<p><a class="ajax-modal button small radius knockout" href="/modal_output/terms-and-connectors.html">See All Connectors</a></p>

<hr>

<h3>Need Assistance?</h3>

<p>Don't hesitate to call our Customer Help Desk on the number below.</p>
<p><a href="tel:1800020548" class="button small radius knockout">1800 020 548</a></p>