<h4>About Learning</h4>

<p>Checkpoint Learning provides modules to help you to develop your understanding and increase your knowledge and skills in relation to core technical areas. Each module is supported with;</p>

<p><strong>Reference Materials</strong> - This defines the objective and reading material for this topic.</p>

<p><strong>Interactive Test</strong> - Provides an interactive question and answer evaluation of your knowledge on the subject area.</p>

<p><a href="/modal_output/about-learning.html" class="ajax-modal button small radius knockout">More Info</a></p>