/*
    PAGE.CSS

    - Last updated: 17.03.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Page
//
// .lv-super : top-most non-visual wrapper
// .lv-page  : visual wrapper
//-----------------------------------------------------------------

// .lv-page {
//     @media #{$medium-up} {

//     }
// }

.lv-super {
    // height: -moz-calc(100vh - #{$footer-height});
    // height: -webkit-calc(100vh - #{$footer-height});
    // height: calc(100vh - #{$footer-height});
    // height: 100%;
}

.lv-page {
    // position: absolute;
    // top: 0;
    // right: 0;
    // left: 0;
    // bottom: 0;
    // overflow: hidden;

    // &:after {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     content: "";
    //     width: 100%;
    //     height: 100%;
    //     background: rgba(0,0,0,.6);
    // }
}

//-----------------------------------------------------------------
// IS LOCKED
//-----------------------------------------------------------------

.lv-page.is-locked {

    .lv-main {
        @media (max-width: 1025px) {
            // position: fixed; // so you can't elasti-scroll on iOS
            overflow: scroll;
        }
    }
}

.lv-page-lock-overlay {
    @media (max-width: 1025px) {
        content: "";
        position: fixed;
        top: 0;
        left: 0; //$secondary-nav-width;
        width: 100%;
        height: 120%;
        background: rgba(0,0,0,.6);
        z-index: 9001; // override touch menu by 1
        opacity: 0;
    }
}

//-----------------------------------------------------------------
// DEV - Place on <body> to highlight key app-frame components
//-----------------------------------------------------------------

.dev {
	background: #EC2945;

	.lv-stage {
		background: #EFA635;
	}

	.lv-main {
		background: #60B75E;
	}

	.lv-footer {
		background: pink;
	}

	.lv-touch-menu {
		opacity: .2;
	}
}

