/*
    SIDEBAR.CSS

    - Last updated: 17.02.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$sidebar-width: rem-calc(300) !default;
$sidebar-width-collapsed: rem-calc(50) !default;
$sidebar-background-color: #EDEFEF;
// $sidebar-box-shadow: inset 2px 0px 5px rgba(#DFE1E1, 0.4) !default;

//-----------------------------------------------------------------
// Sidebar (Default mobile)
//-----------------------------------------------------------------

.lv-sidebar {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	background: white;
	// box-shadow: $sidebar-box-shadow;
	box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.1);
	overflow: hidden;
	z-index: 20;

	@media #{$devices-only} {
	    z-index: 200;
	}

	@media #{$large-up} {
		background: $sidebar-background-color;
		border-left: 1px solid #ddd; //#E6E6E6;
	    box-shadow: none;
	}

	p {
		font-size: rem-calc(14);
	}
}

//=========================================
// Shadow Overlay (cosmetic)
//=========================================

// .lv-sidebar:after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     box-shadow: $sidebar-box-shadow;
//     bottom: 0;
//     width: 10px;
//     z-index: 10;
// }

//=========================================
// If explicitly opened by user - add side border on medium (instead of all [inner] shadow)
// Better convey the overlay
//=========================================

// going with shadow instead of border

// .lv-sidebar.is-uncollapsed:after {
// 	@media #{$medium-up} {
// 	    background: #DBDFDF;
// 	    width: 2px;
// 	}
// 	@media #{$large-up} {
// 	    background: none;
// 	    width: 10px;
// 	}
// }

//-----------------------------------------------------------------
// Sidebar Defaults
//-----------------------------------------------------------------

.lv-sidebar .lv-tabs {
	border: 0; // override tabs css
	margin: 0; // override tabs css

	@media #{$devices-only} {
	    display: none;
	}
}

// Applies to all states

.lv-sidebar .tabs-content {
	// Account for fixed header on touch
	padding: rem-calc(($mobile-header-height+15) 30 30 30); // 15 is to do with padding made up else where

	@media #{$large-up} {
	    padding: rem-calc(0 30 30 30);

	}
}

//-----------------------------------------------------------------
// STATE MIXINS
// Remember 'collapsed' comes FIRST (being mobile first), set by the media query.
// The explicit state classes will override any of the media queries.
//-----------------------------------------------------------------

@mixin collapsed() {
	width: $sidebar-width-collapsed;
	overflow: hidden; // problematic? Override Y scroll?

	// Tabs stick to top on collapsed
	.lv-tabs {
		position: fixed;
		top: $header-height + $nav-height;
		width: $sidebar-width-collapsed;
		background: $sidebar-background-color; // need?
		padding-top: 0; // added 20.03.15 - squash safari bug

		li {
			display: block;
			float: none;
			width: 100%;

			a {
				// @include transition('background');
				outline: none;
				padding: rem-calc(15 0);
				// border-bottom: 1px solid #ddd; //#CACDCD;
				border-right: 0;
			}

			.active i {
				// color: #222; // does this work? Precaution only
			}
		}
	}

	// Hide all of this - easiest.
	.lv-tabs .text,
	.lv-tabs .collapse-btn,
	.tabs-content {
		display: none;
	}
}

//=========================================
// Overrides media queries and reverses
// 'collapsed' behavior - but still inherits
// SOME of the previous collapsed classes.
//=========================================

@mixin uncollapsed() {
	width: $sidebar-width;

	.lv-tabs {
		position: relative;
		top: 0;
		width: 100%;
		padding-bottom: rem-calc(10);
		padding-top: $header-height + $nav-height; // squash safari bug 20.03.15
		// z-index: 1; // need this?

		i {
			font-size: rem-calc(21);
			line-height: 1;
			display: block;
			color: #2C2C2C;
		}

		.text {
			font-size: 11px;
		}

		li {
			float: left;
			// width: 33.3333333%;
			width: 25%;

			a {
				padding: rem-calc(10 0);
				color: #222;
				// border-right: 1px solid #ddd; //#CACDCD;
			}
		}

		li:last-child a {
			border-right: 0;
		}

		.active a {
			border-bottom: 0;
			// background: $tabs-navigation-hover-bg-color;
			color: $primary-color;
			background: none; // override tabs css

			i {
				color: $primary-color;
			}
		}
	}

	.lv-tabs .text,
	.lv-tabs .collapse-btn,
	.tabs-content {
		display: block;
	}

	// Allow the 'fixed' inner snap back to normal. In flow now.
	.lv-sidebar-inner {
		// width: auto; // this created issue with history when there was no content to push it across
	}
}

//-----------------------------------------------------------------
// Media Queries - Placement and display. Organic styles (inner - just easier).
//-----------------------------------------------------------------

.lv-sidebar {
	display: none; // Hide by default on mobile

    .lv-sidebar-inner {
		position: fixed;
		top: 0;
		bottom: $touch-menu-height;
		width: 100%; //$sidebar-width-collapsed;
	    overflow-y: auto; // for desktop scroll bars logic
	    -webkit-overflow-scrolling: touch;
	}

	&.lv-show {
		@media #{$devices-only} {
			display: block;
		}
	}

	//=========================================
	// Start Queries
	//=========================================

	@media #{$medium-up} {
		@include uncollapsed();
		.lv-sidebar-inner {
			position: absolute;
		}

		.lv-tabs .active a i {
			color: #222; // refactor
		}
	}

	// Enters into the page FLOW - landscape (1025+)
	@media #{$large-up} {
		@include collapsed();
	    @extend .table-cell;
	    position: relative; /* needed for shadow */
	    top: 0;
	    overflow: hidden; /* is scrolled with rest of page */
		display: table-cell; // NEW - does this work? 17.02.15

		// Allow the 'fixed' inner snap back to normal. In flow now.
        .lv-sidebar-inner {
    		position: static;
    		overflow: visible; // ipads need this - who knows
        }
	}

	// Opens sidebar on luxurious screens (1440)
	@media #{$xxlarge-up} {
		@include uncollapsed();
	}
}

//-----------------------------------------------------------------
// State Classes (Overrides media queries)
//
// This is brilliantly simple.
// These state classes only work on screens larger than devices.
// The rest is handled via media queries
//-----------------------------------------------------------------

.lv-super .lv-sidebar.is-collapsed {
	@media #{$large-up} {
	    @include collapsed();
	}
}

.lv-super .lv-sidebar.is-uncollapsed {
	@media #{$large-up} {
		@include uncollapsed();
	}
}