/*
    HEADER.CSS (Used in BRS only - keep for reference)

    - Last updated: 21.02.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$mobile-header-height: 50px !default;
$header-icon-color: #929292 !default;

//-----------------------------------------------------------------
// Global Header (Appears in mobile / tablet views)
//-----------------------------------------------------------------

.lv-global-header {
    @media #{$devices-only} {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #ddd;
        background: white;
        // background: rgba(white, .9);
        // background: $tertiary-color;
        text-align: center;
        z-index: 10;
    }

    //=========================================
    // H1
    //=========================================

    h1 {
        @media #{$devices-only} {
            // color: white;
            @include truncate(70%);
            margin: 0 auto;
            font-size: rem-calc(16);
            font-weight: 600;
        }
    }

    //=========================================
    // Context Buttons (hamburger etc)
    //=========================================

    a {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        padding: rem-calc(0 20);
        line-height: $mobile-header-height;
        // color: $tertiary-color;
        // color: white;
        color: $header-icon-color;
        font-size: rem-calc(14);

        @media #{$large-up} {
            display: none;
        }

        i {
            position: relative;
            top: 4px;
            font-size: rem-calc(24);
            line-height: 0;
            margin-right: rem-calc(2);
        }
    }
}

//-----------------------------------------------------------------
// Refactor Later
//-----------------------------------------------------------------

#account-btn {
    left: auto;
    right: 0;
    // color: #ddd;
    color: $header-icon-color;
}

.lv-global-header a.button {
    margin: rem-calc(10 15 10 10);
    line-height: 1;
    color: white !important;
    padding: rem-calc(10);

    @media #{$medium-up} {
        // display: inline-block;
        // position: static;
    }

    i {
        top: -6px;
    }
}

//-----------------------------------------------------------------
// Sidebar Header
//-----------------------------------------------------------------

.lv-sidebar-header {
    @media #{$medium-only} {
        position: absolute;
        border-bottom: 0;
    }
}

//-----------------------------------------------------------------
// Normal Header
//-----------------------------------------------------------------

.lv-header {
    @media #{$devices-only} {
        // border-bottom: 1px solid #ddd;
    }
}

//=========================================
// H1 - Brings own height
//=========================================

.lv-header h1 {
    line-height: $mobile-header-height;

    @media #{$large-up} {
        border-bottom: 1px solid #ddd;
        margin-bottom: rem-calc(30);
    }
}

//=========================================
//
//=========================================

