/*
    TOUCH-MENU.CSS

    - Last updated: 17.03.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Touch menu
//-----------------------------------------------------------------

.lv-touch-menu {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 9000;
    line-height: 0; // fixes height issue
    background: $dark-grey;
}

.icon-bar {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;

    .item {
        display: table-cell;
        color: #ccc;
        padding: rem-calc(8 0);

        i {
            // font-size: rem-calc(20);
        }

        label {
            font-size: rem-calc(12);
            color: #ccc;
        }
    }
}

.icon-bar a.active label,
.icon-bar a.active i {
	// color: $primary-color;
    color: white;
}

.icon-bar .item.active {
    background: darken($secondary-color, 10%);
}

//=========================================
//
//=========================================