/*
    DASHBOARD.CSS

    - Last updated: 18.09.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Dasboard
//-----------------------------------------------------------------

.dashboard-grid ul {
    list-style: none;
    margin-left: 0;
}

.dashboard-grid li {
    /* Only way I could think to solve block grid issue */
    @media (max-width: 47.938em){
        width: 100%;
        overflow: hidden;
    }
}

//=========================================
// Dash Content
//=========================================

.dashboard-grid p,
.dashboard-grid ul {
    font-size: 14px;
}



.content-block {
    background: #DBDFDF;
    background: white;
    // background: #FBFAF8;
    width: 100%;
    // padding: rem-calc(10 20);
    margin-bottom: rem-calc(20);
    // border: 1px solid #D4DCE3;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.08);
    // border: 1px solid #C7C0B8;
}

.sidebar .content-block ul {
    font-size: rem-calc(14);
}

.content-block-header {
    position: relative;
    background: white;
    padding: rem-calc(5 60 5 20);
    // border-bottom: 1px solid #D3D3D3;
}

.content-block-header .minimize-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: rem-calc(44);
    display: block;
}

.content-block-header .minimize-btn span {
    @extend .transition;
    position: absolute;
    top: 50%;
    margin-top: rem-calc(-2);
    width: rem-calc(25);
    height: rem-calc(4);
    background: #6A6A6A;
}

.content-block-header .minimize-btn:hover span {
    background: #62CE9A;
}

.content-block-inner {
    padding: rem-calc(20);
}

.content-block h2 {
    font-size: rem-calc(24);
}

.content-block a {
    color: #125BA2;
    // color: white;
}