/*
    HEADER.CSS

    - Last updated: 26.11.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

.lv-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $header-height;
    // background: #FE9241;
    background: $body-bg url(../img/template/nav-gradient.png) repeat-x; /* fallback */
    z-index: 110; // bring above nav

    .logo {
        padding: rem-calc(0 30); // Lines up with grid
    }
}

//=========================================
// Mobile Nav Btn (user menu)
//=========================================

.lv-hamburger {
    width: 50px;
    height: $header-height;
    line-height: $header-height;
    color: white;
    text-align: center;
    font-size: 26px;
    /* refactor */
    display: none;

    // Removed on dashboard
    &.remove {
        display: none !important;
    }

    @media (max-width: 900px) {
        // display: block !important;
        display: block;
    }
}