/*
    HEADER.CSS

    - Last updated: 26.11.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.lv-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $header-height;
    // background: #FE9241;
    background: $body-bg url(../img/template/nav-gradient.png) repeat-x; /* fallback */
    z-index: 110; // bring above nav

    .lv-logo {
        padding: rem-calc(0 5);
        display: inline-block;

        @media #{$medium-up} {
            padding: rem-calc(0 10);
        }

        @media #{$large-up} {
            padding: rem-calc(0 20);
        }
    }
}

// IE8 image scaling issue
.lt-ie9 .lv-header img {
    max-width: none;
}

//=========================================
// Logo Wrapper
//=========================================

.lv-logo-wrapper {
    line-height: $header-height;
    width: rem-calc(116);
    text-align: left;
    display: inline-block;

    // Centering bigger logo
    @media #{$medium-up} {
        width: rem-calc(306);
    }

    // Revert to bigger logo on medium up
    @media #{$large-up} {
        display: inline;
        line-height: 0;
    }
}

//-----------------------------------------------------------------
// Mobile Nav Btn (user menu)
//-----------------------------------------------------------------

.lv-hamburger {
    display: none;
    width: 50px;
    height: $header-height;
    line-height: $header-height;
    color: white;
    text-align: center;
    font-size: rem-calc(26);
    /* refactor */

    // Removed on dashboard
    &.remove {
        display: none !important;
    }

    @media (max-width: 1024px) {
        display: block;
    }
}