/*
    HEADER.CSS

    - Last updated: 26.11.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

.lv-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $header-height;
    // background: #FE9241;
    background: url(../img/template/nav-gradient.png) repeat-x; /* fallback */
    z-index: 110; // bring above nav

    .logo {
        padding: rem-calc(0 30);
    }
}

//=========================================
// Mobile Nav
//=========================================

.lv-user-profile {
    position: absolute;
    top: 0;
    right: 20px;
    height: $header-height;
    padding: 9px;
}

.lv-user-profile-title {
    display: block;
    color: white;
    line-height: 1;
    font-size: 18px;
}

.lv-user-profile-pic {
    // position: relative;
    margin-left: rem-calc(10);
    box-shadow: 0 3px 5px -6px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    padding-bottom: rem-calc(9); // allow hit area to extend to dropdown

    img {
        max-width: none;
        // width: rem-calc(40);
    }

    i {
        @extend .transition;
        color: white;
    }
}

.lv-user-profile .logout-btn {
    @extend .transition;
    color: #222;
    font-size: 11px;
    font-weight: 600;

    &:hover {
        color: white;
    }
}

.logo-switcher-wrapper {
    display: inline;
}

//=========================================
// User Menu Dropdown
//=========================================

.lv-user-profile-pic:hover .lv-user-profile-dropdown {
    height: auto;
    opacity: 1;
}

.lv-user-profile-pic:hover i.fa-caret-down {
    color: #222;
}

.lv-user-profile-pic a:hover i {
    color: $primary-color;
}

.lv-user-profile-dropdown {
    @extend .transition;
    position: absolute;
    top: $header-height;
    right: 0;
    width: rem-calc(180);
    height: 0;
    background: white;
    border-left: 1px solid #D4DCE3;
    border-right: 1px solid #D4DCE3;
    border-radius: 0 0 $global-radius $global-radius;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.08);
    opacity: 0;
    overflow: hidden;

    ul {
        margin: 0;
        font-size: rem-calc(12);
        font-weight: 600;
        list-style: none;
        text-align: left;
    }

    i {
        // color: #666;
        color: #94999C;
    }

    a {
        // @extend .transition;
        display: block;
        padding: rem-calc(10 15);
        border-bottom: 1px solid #D4DCE3; // better blue? #E1E4E6
        color: #505659;//#676767;

        &:hover {
            // color: $primary-color;
            background: #F2F4F5;
        }
    }
}

//=========================================
// Mobile Nav Btn (user menu)
//=========================================

.lv-hamburger {
    width: 50px;
    height: $header-height;
    line-height: $header-height;
    color: white;
    text-align: center;
    font-size: 26px;
    /* refactor */
    display: none;

    // Removed on dashboard
    &.remove {
        display: none !important;
    }

    @media (max-width: 900px) {
        // display: block !important;
        display: block;
    }
}