/*
    STAGE.CSS

    - Last updated: 25.11.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

.lv-stage {
    position: relative;
    display: table;
    width: 100%; /* added 3.11.14 for toolbar at weird small breakpoint */
    height: 100%;
    overflow-x: hidden; /* stops sidebar breaking out with the -1px x value */
    overflow-y: scroll; // need this?
    top: $header-height;

    @media #{$medium-up} {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        padding: 0;
    }

    @media #{$large-up} {
        top: $header-height + $primary-nav-height;
    }
}

.homepage .lv-stage {
    background: #DEDEDE;
}

//-----------------------------------------------------------------
// Main Content Area
//-----------------------------------------------------------------

.lv-main {
    padding: rem-calc(20 0 80 0);

    @media #{$medium-up} {
        padding: rem-calc(20 ($sidebar-width-collapsed + 20) 60 20);
    }

    @media #{$large-up} {
        padding-right: rem-calc(20);
    }
}

//=========================================
// Ignore gaps left for sidebar on internal pages
//=========================================

.homepage .lv-main,
.internal-minimal .lv-main {
    @media #{$medium-up} {
        padding: rem-calc(20 20 50 20);
    }
}

.homepage .lv-main {
    .row {
        max-width: rem-calc(1200);
    }
}

//=========================================
// Preferences uses 'internal-minimal' template.
// Doesn't use context menus or sidebar.
//=========================================

.internal-minimal .lv-main {
    .row {
        max-width: rem-calc(900);
    }
}