/*
    STAGE.CSS

    - Last updated: 02.12.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$stage-bg-background: #F5F6F6;

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

// There is a conflict with F5 and MMenu off-canvas
// This prevents the page jumping to the top
// https://github.com/BeSite/jQuery.mmenu/issues/142

html, body {
    // height: 100% !important;
    // height: auto !important; // this will fix Mmenu but break lv-stage
}

.lv-super {
    height: 100%;
}

//-----------------------------------------------------------------
// Stage
//-----------------------------------------------------------------

.lv-stage {
    display: table;
    position: relative;
    top: $header-height;
    width: 100%; /* added 3.11.14 for toolbar at weird small breakpoint */
    height: 100%;
    overflow-x: hidden; /* stops sidebar breaking out with the -1px x value */
    overflow-y: scroll; // need this?
    background: $stage-bg-background;

    @media #{$medium-up} {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0;
    }

    @media #{$large-up} {
        top: $header-height + $primary-nav-height;
    }
}

.homepage .lv-stage {
    // background: $stage-bg-background;
    background: none;
}

//-----------------------------------------------------------------
// Main Content Area
//-----------------------------------------------------------------

.lv-main {
    padding: rem-calc(20 0 80 0);

    @media #{$medium-up} {
        padding: rem-calc(20 ($sidebar-width-collapsed + 20) 60 20);
    }

    @media #{$large-up} {
        padding-right: rem-calc(20);
    }
}

//=========================================
// Ignore gaps left for sidebar on internal pages
//=========================================

.homepage .lv-main,
.internal-minimal .lv-main {
    @media #{$medium-up} {
        padding: rem-calc(20 20 50 20);
    }
}

.homepage .lv-main {
    .row {
        max-width: rem-calc(1200);
    }
}

//=========================================
// Preferences uses 'internal-minimal' template.
// Doesn't use context menus or sidebar.
//=========================================

.internal-minimal .lv-main {
    .row {
        max-width: rem-calc(900);
    }
}