// Colors
$tertiary-color: #5E6E7E; //#125BA2;
$dark-grey: #2C2C2C; //rgba(44,44,44,0.85);//#2C2C2C;
$border-color-light: #D4DCE3;
$blue-color: #125BA2;

$jurisdiction-select-bg: #FE9E4F;
$footer-background: $dark-grey;

// Layout
$header-height: 60px;
$primary-nav-width: 65px;
$primary-nav-height: 40px;
$secondary-nav-width: 260px;
$sidebar-width: 300px;
$sidebar-width-collapsed: 50px;
$footer-height: 40px;