@import "foundation/components/grid";
/*
    LEGACY PREFERENCES.CSS

    - Last updated: 03.04.15
    - hello@liquidvisual.com

    - Notes -

    This template output had a lot of <br> elements. To remove excessive
    spacing - remove them from their template manually.
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Caution
//-----------------------------------------------------------------

#pagetitle {
    margin-bottom: rem-calc(20); // header - but caution, may affect other areas. Choosing to style existing instead of in template.
}

//-----------------------------------------------------------------
// Legacy Preferences
//-----------------------------------------------------------------

#prefForm {
    padding: rem-calc(30);

    h2 {
        margin-bottom: rem-calc(30);
        padding-bottom: rem-calc(5);
        border-bottom: 1px solid #ddd;
    }

    // Submit Button
    #submitDiv {
        margin-top: rem-calc(30);
        text-align: center;
    }
}

//=========================================
// Insert Foundation Grid
//=========================================

.preferenceRow,
.prefrow {
    @include grid-row();
    margin-bottom: rem-calc(30);
}

.preferenceTitle,
.preflabel {
    @media #{$medium-up} {
        @include grid-column($columns:4, $offset:1);
        text-align: right;
    }
}

.preferenceContent,
.prefinput {
    @media #{$medium-up} {
        @include grid-column(5);
    }
}

// Westlaw

#updateprefs {
    margin-top: rem-calc(40);
}