/*
    TOC.CSS (LEGACY)

    - Last updated: 09.04.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// TOC
//-----------------------------------------------------------------

.toc-root ul {
    list-style: none;

    // Drop indentation and make flat listed on mobile
    @media #{$small-only} {
        margin-left: 0;
    }
}

.lv-context-menu .toc-root {
    padding: 10px;
}

// Drop indentation and make flat listed when inside context menu (crap UX)
.lv-context-menu .toc-root ul {
    // margin-left: 0;
}

.toc-root ul ul li.plus input {
    margin-bottom: 0;
}

//-----------------------------------------------------------------
// Hit Targets
//-----------------------------------------------------------------

// Images have no hit areas, not wrapped in anchors
.toc-root .plus .expanded,
.toc-root .plus .collapsed {
    cursor: pointer;
}

.toc-root a {
    color: $link-color;
    font-size: rem-calc(14);
}

.lv-context-menu .toc-root a {
    font-size: rem-calc(12);
    padding: 0;
}

// Allow checkboxes to breathe
.toc-root input[type="checkbox"] {
    margin-right: rem-calc(10);
}

//-----------------------------------------------------------------
// Stars & Icons - saved / not saved
//-----------------------------------------------------------------

// qlimg is the image of the star - we're hiding that and replacing with a psuedo element font

.toc-root .qlimg {
    @media #{$small-only} {
        display: none;
    }
}

.toc-root .qlimg:before {
    @extend .foundation-icons;
    content: "\f1ee"; // star icon
    padding: rem-calc(0 5 0 0);
    color: #F2B435;
}

// Stars that are non-selected are greyed out
.toc-root .qlimg.noSaved:before {
    color: lighten($tertiary-color, 40%);
}

.toc-root .lnkProductInfo:before {
    @media #{$medium-up} {
        @extend .foundation-icons;
        content: "\f15e"; // info icon
    }
}

//-----------------------------------------------------------------
// PLUS + MINUS - BUTTONS
//-----------------------------------------------------------------

.resultMetadocLink:before,
.toc-root .plus .expanded:before,
.toc-root .plus .collapsed:before,
.toc-root .plus .docLeaf:before
{
    @extend .foundation-icons;
    content: "\f176"; // minus
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 2px;
    border: 1px solid #B3B3B3;
    border-radius: 3px;
    font-size: rem-calc(12);
    color: $primary-color;
    text-align: center;

    @media #{$small-only} {
        font-size: rem-calc(16);
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
}

// .lv-context-menu .resultMetadocLink:before,
// .lv-context-menu .toc-root .plus .expanded:before,
// .lv-context-menu .toc-root .plus .collapsed:before,
// .lv-context-menu .toc-root .plus .docLeaf:before
// {
//     font-size: rem-calc(16);
//     width: 30px;
//     height: 30px;
//     line-height: 30px;
// }

// Node without children has invisible borders, so all line up
.toc-root .plus .docLeaf:before {
    color: $body-bg;
    border-color: $body-bg; //red;
}

.lv-context-menu .toc-root .plus .docLeaf:before {
    // display: none;
    color: white;
    border-color: white;
}

.toc-root a {
    display: inline;
}

// Westlaw mainly - prevents adding box twice unecessarily
.toc-root .docName .docLeaf:before {
    display: none;
}

/* prevent divs causing line breaks */
.inline,
.inline div {
    display: inline;
}

// the minus shows where new nodes OPEN UP
.toc-root .plus .expanded:before {
    @media #{$small-only} {
        background: $primary-color;
        color: white;
        border-color: $primary-color;
    }
}

//-----------------------------------------------------------------
// Gradient Shifter
//-----------------------------------------------------------------

.toc-root .plus .plus .plus {
    @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
            .collapsed:before {
                @media #{$small-only} {
                    background: lighten(lighten(desaturate($primary-color, 10%), 15%), $i * 0.5%);
                    border-color: lighten(lighten(desaturate($primary-color, 10%), 15%), $i * 0.5%);
                    color: white;
                }
            }
        }
    }
    // all the rest are just solid colors
    &:nth-child(n+20) .collapsed:before {
        @media #{$small-only} {
            background: lighten(lighten(desaturate($primary-color, 10%), 15%), 20 * 0.5%);
            border-color: lighten(lighten(desaturate($primary-color, 10%), 15%), 20 * 0.5%);
            color: white;
        }
    }
}

.toc-root ul li.docLeaf {
    @for $i from 1 through 20 {
        &:nth-child(#{$i}):before {
            @media #{$small-only} {
                background: lighten(lighten(desaturate($primary-color, 10%), 15%), $i * 0.5%);
                border-color: lighten(lighten(desaturate($primary-color, 10%), 15%), $i * 0.5%);
                color: transparent;
            }
        }
    }
}

//=========================================
//
//=========================================

.collapsed .resultMetadocLink:before,
.toc-root .plus .collapsed:before {
    content: "\f199";
    color: lighten(#808080, 20%);
}

#tree li:first-child .expanded {
    // display: none;
}

.toc-root .plus img {
    display: none;
}

//-----------------------------------------------------------------
// FILTER SEARCH (Context Menu - mini toc)
//-----------------------------------------------------------------

#searchsummary #metadocs > ul {
    margin-bottom: 15px;
}

// The UL dropdown (hidden until click)
#searchsummary .resultMetadoc {
    padding: 10px 15px;

    li {
        padding: 5px 0;
    }

    input[type="checkbox"] {
        margin: 0;
    }

    a {
        display: inline;
        border: 0;
        padding: 0;
    }
}

#searchsummary .resultMetadocLink:before {
    margin-right: 10px;

    @media #{$medium-up} {
        margin-right: 5px;
    }
}