/*
    FOOTER.CSS

    - Last updated: 25.11.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Footer
//-----------------------------------------------------------------

.lv-footer {
    position: relative;
    padding: rem-calc(5 15 10 15);
    background: $footer-background;
    width: 100%;
    z-index: 20;

    @media #{$medium-up} {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: $footer-height;
        line-height: $footer-height;
        padding: rem-calc(0 15);
    }

    a,
    .anchor {
        color: white;
    }
}

//=========================================
// Footer Links
//=========================================

.lv-footer-links a,
.lv-footer-links .anchor {
    @extend .transition;
    font-size: rem-calc(12);
    line-height: $footer-height;
    cursor: pointer;

    &:hover {
        color: grey;
    }

    /* needs some bigger gaps */
    @media #{$medium-up} {
        padding: rem-calc(0 5);
    }
}

//=========================================
// Footer Legal
//=========================================

.lv-footer-legal {
    font-size: rem-calc(11);
    line-height: 0;
    color: grey;
}

//=========================================
// Dropdown
//=========================================

.lv-footer-links li.has-dropdown {
    position: relative;

    @media #{$large-up} {
        display: inline-block;
    }

    &:hover {
        background: lighten($footer-background, 10%);

        a {
            color: white; // override grey
        }
    }

    &:hover .lv-dropdown {
        height: auto;
        opacity: 1;
    }
}

.lv-footer-links .lv-dropdown {
    @extend .transition;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: rem-calc(200);
    font-size: rem-calc(12);
    font-weight: 600;
    list-style: none;
    margin: 0;
    text-align: left;
    background: lighten($footer-background, 10%);
    border-radius: $global-radius $global-radius 0 0;

    a {
        transition: none;
        display: block;
        padding: rem-calc(0 15);
        border-top: 1px solid $footer-background;

        &:hover {
            background: $footer-background;
        }

        i {
            padding-right: rem-calc(5);
            color: $primary-color;
        }
    }

    li:first-child a {
        border: 0;
    }
}