/*
    SIDEBAR.CSS

    - Last updated: 26.11.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$sidebar-width: rem-calc(300) !default;
$sidebar-width-collapsed: rem-calc(50) !default;
$sidebar-background-color: #EDEFEF !default;
$sidebar-box-shadow: inset 2px 0px 5px rgba(#DFE1E1, 0.4) !default;

//-----------------------------------------------------------------
// Sidebar (Default mobile)
//-----------------------------------------------------------------

.lv-sidebar {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	background: $sidebar-background-color;
	box-shadow: $sidebar-box-shadow;
	overflow: hidden;
	z-index: 10;

	p {
		font-size: rem-calc(14);
	}
}

//=========================================
// Shadow Overlay (cosmetic)
//=========================================

.lv-sidebar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: $sidebar-box-shadow;
    bottom: 0;
    width: 10px;
    z-index: 10;
}

// If explicitly opened by user - add side border on medium (instead of all shadow)
// Better convey the overlay
.lv-sidebar.is-uncollapsed:after {
	@media #{$medium-up} {
	    background: #DBDFDF;
	    width: 2px;
	}
	@media #{$large-up} {
	    background: none;
	    width: 10px;
	}
}

// No shadow. Border fallback.
.lt-ie9 .lv-sidebar {
    border-left: 1px solid #CACDCD;
}

//=========================================
// Quicklinks
//=========================================

ul.lv-quicklinks {
    background: white;
    list-style: none;
    margin: 0;
    padding: rem-calc(15);
    font-size: rem-calc(13);

    li {
        margin-bottom: rem-calc(10);
    }
}

//-----------------------------------------------------------------
// STATE MIXINS
// Remember 'collapsed' comes FIRST (being mobile first), set by the media query.
// The explicit state classes will override any of the media queries.
//-----------------------------------------------------------------

@mixin collapsed() {
	width: $sidebar-width-collapsed;
	overflow: hidden; // problematic? Override Y scroll?

	// Tabs stick to top on collapsed
	.tabs {
		position: fixed;
		top: $header-height;
		width: $sidebar-width-collapsed;
		background: $sidebar-background-color; // need?

		i {
			font-size: rem-calc(21);
			line-height: 1;
			display: block;
			color: #2C2C2C;
		}

		.text {
			font-size: 11px;
		}

		li {
			float: none;
			width: 100%;

			a {
				outline: none;
				padding: rem-calc(15 0);
				border-bottom: 1px solid #CACDCD;
				border-right: 0;
			}
		}

		@media #{$large-up} {
		    top: $header-height + $primary-nav-height;
		}
	}

	// Hide all of this - easiest.
	.tabs .text,
	.tabs .collapse-btn,
	.tabs-content {
		display: none;
	}
}

//=========================================
// Overrides media queries and reverses
// 'collapsed' behavior - but still inherits
// SOME of the previous collapsed classes.
//=========================================

@mixin uncollapsed() {
	width: $sidebar-width;

	.tabs {
		position: relative;
		top: 0;
		width: 100%;
		padding-bottom: rem-calc(10);
		// z-index: 1; // need this?

		li {
			float: left;
			// width: 33.3333333%;
			width: 25%;

			a {
				padding: rem-calc(10 0);
				border-right: 1px solid #CACDCD;
			}
		}

		li:last-child a {
			border-right: 0;
		}

		.active a {
			border-bottom: 0;
		}
	}

	.tabs-content {
		padding: rem-calc(15 30 30 30);
	}

	.tabs .text,
	.tabs .collapse-btn,
	.tabs-content {
		display: block;
	}

	// Allow the 'fixed' inner snap back to normal. In flow now.
	.lv-sidebar-inner {
		width: auto;
	}
}

//-----------------------------------------------------------------
// Media Queries - Placement and display. Organic styles.
//-----------------------------------------------------------------

.lv-sidebar {

	// Hide on mobile (below portrait)
	@media #{$small-only} {
	    display: none;
	}

	// Becomes Overlay - portrait (768)
	@media #{$medium-up} {
		@include collapsed();

		// ADDED: moved fixed positioning into child of sidebar (absolute). It was previously
		// moving passed the footer. This new design hugs the top and bottom.
	    .lv-sidebar-inner {
			position: fixed;
			top: $header-height;
			bottom: $footer-height;
			width: $sidebar-width-collapsed;
		    overflow-y: auto; /* for desktop scroll bars logic */
		    -webkit-overflow-scrolling: touch;
	    }
	}

	// Enters into the page FLOW - landscape (1024)
	@media #{$large-up} {
	    @extend .table-cell;
	    position: relative; /* needed for shadow */
	    top: 0;
	    overflow: hidden; /* is scrolled with rest of page */

		// Allow the 'fixed' inner snap back to normal. In flow now.
        .lv-sidebar-inner {
    		position: static;
    		overflow: visible; // ipads need this - who knows
        }
	}

	// Opens sidebar on luxurious screens (1440)
	@media #{$xxlarge-up} {
		@include uncollapsed();
	}
}

//-----------------------------------------------------------------
// State Classes (Overrides media queries)
//-----------------------------------------------------------------

.lv-super .lv-sidebar.is-collapsed {
	@include collapsed();
}

.lv-super .lv-sidebar.is-uncollapsed {
	@include uncollapsed();
}

//=========================================
// IE8 has issues with opening with media
// queries alone. Needs explicit setting.
//=========================================

.lt-ie9 .lv-sidebar {
	@include collapsed();
}
