<!-- START WESTLAW **SIMULATED** OUTPUT -->

<h1>My Folders</h1>

<ul class="folders-list">
    <li><a href="#"><i class="fi-folder primary-color"></i> My Searches</a></li>
    <li class="active"><a href="#"><i class="fi-folder primary-color"></i> My Quicklinks</a>
        <ul>
            <li><a href="#">&nbsp;&nbsp;<i class="fi-folder primary-color"></i> Legal</a></li>
            <li><a href="#">&nbsp;&nbsp;<i class="fi-folder primary-color"></i> 2015 Docs</a></li>
            <li><a href="#">&nbsp;&nbsp;<i class="fi-folder primary-color"></i> Save for Later</a></li>
        </ul>
    </li>
    <li><a href="#"><i class="fi-folder primary-color"></i> My Documents</a></li>
    <li><a href="#"><i class="fi-folder primary-color"></i> My Cleardocs Documents</a></li>
    <li><a href="#"><i class="fi-trash alert-color"></i> Deleted Items</a></li>
</ul>

<!-- END WESTLAW **SIMULATED** OUTPUT -->

