<!-- START CHECKPOINT OUTPUT -->

<div id="sidebar"><h1>My Alerts</h1><div class="menu"><ul class="toplevel"><li id="list" class="active"><a href="/pages/checkpoint/alerts/">My email alerts</a></li><li id="subscribablealerts"><a href="#">Alerts I can subscribe to</a></li><li id="viewRSSAlert" name="My RSS Alerts"><a href="#">My RSS feeds</a></li><li id="alert24"><a href="#">Alert News Settings</a></li></ul><br><h1>Alert Centre</h1><ul class="toplevel"><li id="suggested"><a href="#">Suggested alerts</a></li><li id="alertsadmin"><a href="#">Organisational alerts</a></li><li id="usersmanagement"><a href="/pages/checkpoint/alerts/manage-contact-permissions/">Manage contact permissions</a></li></ul></div></div>

<!-- END CHECKPOINT OUTPUT -->