---
layout: common/internal
---

<!-- SEARCH FORM -->
<form class="lv-search-form" action="#" method="post" novalidate>
    <div class="row">
        <div class="medium-10 medium-centered columns">

            <!-- Keyword Search -->
            <div class="row collapse">
                <div class="small-10 medium-9 columns">
                    <input name="Search" type="text" placeholder="Type keywords to search">
                </div>
                <div class="small-2 medium-3 columns">
                    <button type="submit" class="button search-button flat radius postfix"><i class="show-for-small-only fi-magnifying-glass"></i> <span class="text hide-for-small">Search</span></button>
                </div>
            </div>

            <!-- Preferred Results Format -->
            <div class="row">
                <div class="columns">
                    <ul class="lv-inline-list text-center medium-text-left">
                        <li><label><input type="radio" name="sf-result-type" value="Free Text" checked>&nbsp; Free Text</label></li>
                        <li><label><input type="radio" name="sf-result-type" value="Title">&nbsp; Title</label></li>
                        <li><label><input type="radio" name="sf-result-type" value="Citation">&nbsp; Citation</label></li>
                    </ul>
                    <br>
                </div>
            </div> <!-- .row -->

        </div>
    </div>
</form> <!-- .lv-search-form -->

<!-- ************************ END FORM ************************ -->

<!-- EXPORT OPTIONS -->
<div class="row">
    <div class="columns">
        {% include westlaw/export_options/search_basic.html %}
    </div>
</div>

<!-- TOC -->
<div class="row">
    <div class="columns">
        {% include westlaw/toc_output/toc_basic.html %}
    </div>
</div>