---
layout: common/internal
context_menu: "westlaw/context_menu_output/search_templates.html"
---

<!-- ADHOC JS FOR SIMULATION ONLY -->
<script>
    // Point all links to the same template (demo purposes only)
    $(function() {
        var newLink = "/westlaw/research/basic-results-01/";
        $(".lv-content a").attr("href", newLink);
    });
</script>
<!-- END ADHOC JS FOR SIMULATION ONLY -->

<!-- HEADER -->
<header class="header">
    <div class="row">
        <div class="columns">
            <h3 class="left">Basic</h3>
            <hr>
        </div>
    </div>
</header>

<!-- SEARCH FORM -->
<form class="lv-search-form" action="/research/search-results/" method="post" novalidate>
    <div class="row">
        <div class="medium-10 medium-centered columns">

            <!-- Keyword Search -->
            <div class="row collapse">
                <div class="small-10 medium-9 columns">
                    <input name="Search" type="text" placeholder="Type keywords to search">
                </div>
                <div class="small-2 medium-3 columns">
                    <!-- Switch anchor for button on production -->
                    <!-- <button type="submit" class="button search-button flat radius postfix"><i class="show-for-small-only fi-magnifying-glass"></i> Search</button> -->
                    <a href="#" class="button search-button flat radius postfix"><i class="show-for-small-only fi-magnifying-glass"></i> <span class="text hide-for-small">Search</span></a>
                </div>
            </div>

            <!-- Preferred Results Format -->
            <div class="row">
                <div class="columns">
                    <ul class="inline-list">
                        <li><label><input type="radio" name="sf-result-type" value="Free Text" checked>&nbsp; Free Text</label></li>
                        <li><label><input type="radio" name="sf-result-type" value="Title">&nbsp; Title</label></li>
                        <li><label><input type="radio" name="sf-result-type" value="Citation">&nbsp; Citation</label></li>
                    </ul>
                </div>
            </div> <!-- .row -->

        </div>
    </div>
</form> <!-- .lv-search-form -->

<!-- ************************ END FORM ************************ -->

<!-- EXPORT OPTIONS -->
<div class="row">
    <div class="columns">
        {% include westlaw/export_options/search_basic.html %}
    </div>
</div>

<!-- TOC -->
<div class="row">
    <div class="columns">
        {% include westlaw/toc_output/toc_basic.html %}
    </div>
</div>