---
layout: common/internal
---

<!-- SEARCH FORM -->
<form class="lv-search-form" action="#" method="post" novalidate>
    <div class="row">
        <div class="medium-11 large-10 columns">

            <!-- Create Field Names -->
            {% assign text_fields = "Free Text|Case Summary/Digest|Case Title/Party Name|Citation|Classification|Catchwords|Judge(s)|Court" | split: "|" %}

            <!-- Draw Fields -->
            {% for item in text_fields %}
                {% include common/components/form_text_input.html %}
            {% endfor %}

            <!-- Draw Select Field -->
            {% include common/components/form_select_input.html title="Jurisdiction" %}

            <!-- Draw Date Fields -->
            {% include common/components/form_date_input.html title="Judgement Date" %}

            <!-- <div class="lv-advanced-options"> -->

                <!-- Create Field Names -->
                {% assign text_fields = "Cases Cited (Title)|Cases Cited (Citation)|Legislation Cited (Provision)" | split: "|" %}

                <!-- Draw Fields -->
                {% for item in text_fields %}
                    {% include common/components/form_text_input.html %}
                {% endfor %}

                <!-- Draw Checkbox -->
                {% include common/components/form_checkbox_input.html title="FirstPoint Verified Data Only" %}

                <!-- Create Field Names -->
                {% assign text_fields = "Words & Phrases|Legal Representative(s)" | split: "|" %}

                <!-- Draw Fields -->
                {% for item in text_fields %}
                    {% include common/components/form_text_input.html %}
                {% endfor %}

                <!-- Draw Select Fields -->
                {% include common/components/form_select_input.html title="Reported Unreported" %}
                {% include common/components/form_select_input.html title="Cases Updated" %}

            <!--</div> .lv-advanced-options -->

            <!-- Draw Submit Fields -->
            {% include common/components/form_submit_clear_input.html path="#SEND-PATH-TO-DEMO-LOCATION" %}

        </div>
    </div>
</form> <!-- .lv-search-form -->

<!-- ************************ END FORM ************************ -->

{% comment %}
<!-- Form obscured on mobile (restricted height) - button will show all -->
<div class="row">
    <div class="medium-11 columns text-right">
        <a class="lv-partial-view-btn lv-non-legacy button pill tiny" href="#">Expand</a>
    </div>
</div>
{% endcomment %}