{% assign path = include.path %}

<div class="row">
    <div class="medium-offset-3 medium-9 columns">
		<br>

        <!-- <button value="submit" class="button radius medium">Search</button>&nbsp;&nbsp; -->
        <!-- <button type="reset" class="button radius medium knockout" value="clear">Clear</button> -->

        <!-- IMPORTANT: switch Anchors for Buttons (above) for production -->

        <a href="{{path}}" class="button radius medium">Search</a>&nbsp;&nbsp;
        <a href="#" class="button radius medium knockout">Clear</a>
    </div>
</div>