<!DOCTYPE html>
<!--[if lt IE 8]>       <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if lt IE 9]>       <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>          <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->  <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Checkpoint">
    <title>
        {% comment %} SEO IMPLEMENTATION {% endcomment %}
        {% if page.url == '/' %}
            {{ site.data.settings.seo_title }}
        {% else %}
            {% if page.seo_title %}
                {{ page.title }} - {{ page.seo_title }}
            {% else %}
                {{ page.title }} - {{ site.data.settings.seo_title }}
            {% endif %}
        {% endif %}
    </title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
    <link rel='shortcut icon' type='image/x-icon' href='{{ "/favicon.ico" | prepend: site.assets }}'>
    <link rel="apple-touch-icon" sizes="144x144" href="{{ "/apple-touch-icon-144x144.png" | prepend: site.assets }}">

    <!-- CDN -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700">

    <!-- build:css({src,.tmp}) /assets/css/foundation.css -->
    <link rel="stylesheet" href="/css/foundation/app.css">
    <!-- endbuild -->

    <!-- build:css({src,.tmp}) /assets/css/optimized.css -->
    <link rel="stylesheet" href="/_bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" href="/css/liquidvisual/liquidvisual.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="/assets/css/optimized-ie8.css">
    <![endif]-->

    <!-- Priority Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>

    <!--[if lt IE 9]>
    <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
    <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="lv-super">
        <div class="lv-page">

            {{ content }}

        </div> <!-- .lv-page -->
    </div> <!-- .lv-super -->

    <!-- OFF-CANVAS MENU (LEFT) -->
    <nav id="off-canvas-menu-left" class="hide" aria-hidden="true">
        {% include topbar.html %}
    </nav>

    <!-- OFF-CANVAS MENU (RIGHT) -->
    <nav id="off-canvas-menu-right" class="hide" aria-hidden="true">
        {% include menus/user_menu.html %}
    </nav>

    <!-- ***** JAVASCRIPT ***** -->

    <!-- build:js(src) /assets/scripts/optimized.js -->
    <script src="/_bower_components/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="/_bower_components/jQuery.mmenu/src/js/jquery.mmenu.min.all.js"></script>
    <script src="/_bower_components/jquery.scrollTo/jquery.scrollTo.min.js"></script>
    <script src="/_bower_components/fastclick/lib/fastclick.js"></script>
    <script src="/_bower_components/jquery.transit/jquery.transit.js"></script>
    <script src="/_bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="/_bower_components/nprogress/nprogress.js"></script>

    <script src="/scripts/legacy/jquery-ui.js"></script>
    <script src="/scripts/adhoc-datepicker.js"></script>
    <script src="/scripts/adhoc-export-options.js"></script>
    <script src="/scripts/adhoc-filter-toc.js"></script>
    <script src="/scripts/adhoc-toc.js"></script>
    <script src="/scripts/content-expander.js"></script>
    <script src="/scripts/context-menu.js"></script>
    <script src="/scripts/dashboard.js"></script>
    <script src="/scripts/modal.js"></script>
    <script src="/scripts/off-canvas.js"></script>
    <script src="/scripts/sidebar.js"></script>
    <script src="/scripts/tooltips.js"></script>
    <script src="/scripts/main.js"></script>
    <!-- endbuild -->

    <!-- PLACE ALL OTHER SCRIPTS BELOW HERE -->

    <!-- Analytics Scripts Go Below Here -->

    <!-- No Javascript Warning -->
    <noscript>
        <div class="lv-alert lv-unselectable">
            <p>Your browser has Javascript disabled. Some features may be limited.</p>
        </div>
    </noscript>

</body>
</html>