/*
    BREADCRUMBS.CSS

    - Last updated: 26.11.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Breadcrumbs
//-----------------------------------------------------------------

.lv-breadcrumbs {
    border-bottom: 0;

    a,
    li {
        text-transform: capitalize;
        font-size: rem-calc(14);
    }
}