---
layout: internal
sidebar_details: "sidebar_content/learning.html"
---

<!-- ADHOC JS FOR SIMULATION ONLY -->
<script>
    $(document).ready(function(){
        // Point all links to the same template (demo purposes only)
        var newLink = "/learning/test-capital-gains-tax/";
        $(".toc-root a").attr("href", newLink);
    });
</script>
<!-- END ADHOC JS FOR SIMULATION ONLY -->

<div class="row">
    <div class="columns">
        <h3 class="left">Learning</h3>
        <p class="right"><a href="/modal_output/understanding-workflow.html" class="ajax-modal show-for-small-only"><i class="fi-lightbulb"></i> Hints</a></p>
        <hr>
    </div>
</div>

<!-- EXPORT OPTIONS -->
<div class="row">
    <div class="columns">
        {% include snippets/breadcrumbs.html %}
        {% include export_options/search_advanced.html %}
    </div>
</div>

<!-- TOC -->
<div class="row">
    <div class="columns">
        {% include toc_output/toc_learning.html %}
    </div>
</div>