<div class="lv-export-options sticky-scroll disabled">
    <ul class="lv-inline-list small-gaps text-center medium-text-left">
        <li><a title="Add Subfolder" class="ajax-modal" href="/modal_output/checkpoint/coming-soon.html"><i class="fi-folder-add"></i></a></li>
        <li><a title="Download" class="ajax-modal" href="/modal_output/checkpoint/export-document.html"><i class="fi-download"></i></a></li>
        <li><a title="Print" class="ajax-modal" href="/modal_output/checkpoint/print-document.html"><i class="fi-print"></i></a></li>
        <li><a title="Email" class="ajax-modal" href="/modal_output/checkpoint/email-document.html"><i class="fi-mail"></i></a></li>
    </ul>
</div> <!-- .lv-export-options -->