---
layout: common/master
site_type: "westlaw"
---

<div class="lv-docs">

    <!-- HEADER -->
    <div class="lv-header">
        {% include common/docs/header.html %}
    </div>

    <!-- STAGE -->
    <section class="lv-stage">

        <!-- CONTEXT MENU -->
        <nav class="lv-context-menu">
            {% include common/menus/context_menu.html %}
        </nav>

        <!-- MAIN -->
        <main class="lv-main">

            <!-- CONTENT -->
            <div class="lv-content">
                <div class="row">
                    <div class="columns">
                        <div class="lv-content-block">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>

        </main> <!-- .lv-main -->

    </section> <!-- .lv-stage -->

</div> <!-- .lv-docs -->