---
layout: common/master
site_type: "westlaw"
---

<style>
    html, body, .lv-main, .lv-stage, p, li, a {
        /*background: white;*/
        font-family: "Open Sans";
        color: #444;
    }

    .lv-super .lv-resize-btn {
        display: none;
    }

    .lv-super .lv-context-menu .lv-context-menu-fixed {
        background: white;
        border-right: 1px solid #D4DCE3;
    }

    .lv-super .lv-header {
        background: #675392;
    }

    .lv-super a {
        color: #675392;
    }

    .lv-super .lv-site-select {
        background: #675392;
        color: white;
    }

    .lv-super .lv-site-select a {
        color: white;
    }

    .lv-super .lv-context-menu .active a {
        background: #745596;
    }

    .lv-stage {
        /*display: table;*/
        display: block;
    }

    pre code {
        overflow: auto;
    }

    .lv-content-block h1,
    .lv-content-block h2,
    .lv-content-block h3,
    .lv-content-block h4,
    .lv-content-block h5,
    .lv-content-block h6 {
        font-weight: bold;
    }

    .lv-content-block h1 {
        margin-bottom: 40px;
    }

    p {
        line-height: 1.6;
    }

    hr {
        margin: 40px 0;
    }

    ul {
        list-style: none;
    }

    .lv-context-menu h3 {
        text-transform: uppercase;
        font-size: 11px;
        /*text-align: left;*/
        /*color: #1C78A7;*/
        color: #675392;
        font-weight: bold;
        /*border-bottom: 1px solid #D4DCE3;*/
    }

    .lv-context-menu a {
        padding: 5px 15px;
    }

    .lv-context-menu {
        z-index: 999;
    }

    /* move this into SCSS soon */
    @media (min-width: 1024px) {
        .lv-context-menu-fixed {
            top: 60px;
            bottom: 0;
        }
    }

    .lv-content-block {
        padding: 15px;
        max-width: 800px;
    }

    @media (min-width: 1024px) {
        .lv-content-block {
            margin: 0 auto 0 250px;
        }
    }

    @media (min-width: 641px) {

        .lv-content-block {
            padding: 30px;
        }
    }

    .lv-context-menu ul ul li a {
        color: #eee;
        margin-left: 20px;
        display: none;
    }

    /*.lv-context-menu h3 {
        text-align: left;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        color: black;
        border-bottom: 1px solid #D4DCE3;
    }*/

    .lv-context-menu h2 + ul {
        /*border-top: 1px solid #D4DCE3;*/
    }
</style>

<!-- HEADER -->
<div class="lv-header">
    {% include common/docs/header.html %}
</div>

<!-- STAGE -->
<section class="lv-stage">

    <!-- CONTEXT MENU -->
    <nav class="lv-context-menu">
        {% include common/menus/context_menu.html %}
    </nav>

    <!-- MAIN -->
    <main class="lv-main">

        <!-- CONTENT -->
        <div class="lv-content">
            <div class="row">
                <div class="columns">
                    <div class="lv-content-block">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>

    </main> <!-- .lv-main -->

</section> <!-- .lv-stage -->