---
layout: internal
context_menu: "context_menu_output/search_templates.html"
---

<div class="row">
    <div class="columns">
        <h3 class="left">Basic</h3>
        <p class="right"><a href="/modal_output/terms-and-connectors.html" class="ajax-modal show-for-small-only"><i class="fi-lightbulb"></i> Hints</a></p>
        <hr>
    </div>
</div>

<div class="row">
    <div class="medium-10 medium-centered columns">
        <form data-abide novalidate action="/research/search-results/" method="post">
            <div class="row collapse postfix-radius">
                <div class="small-12 medium-9 columns">
                    <input name="q" class="text-center" type="text" placeholder="Type keywords to begin your search">
                </div>
                <div class="hide-for-small medium-3 columns">
                    <!-- <button type="submit" class="button flat radius postfix">Search</button> -->
                    <a href="/research/search-results/" class="button flat radius postfix">Search</a>
                </div>
            </div>
            <!-- Radio -->
            <div class="row">
                <div class="medium-4 columns">
                    <label for="" class="text-left medium-text-right">Preferred results format:</label>
                </div>
                <div class="medium-8 columns">
                    <input type="radio" id="resultTocRadio" name="resultType" value="toc"><label for="resultTocRadio">Tree of Contents</label>
                    <input type="radio" id="resultListRadio" name="resultType" value="list"><label for="resultListRadio">Document List</label>
                </div>
            </div> <!-- .row -->
        </form>
    </div>
</div> <!-- .row -->

<div class="row">
    <div class="columns">
        <hr>
        <h4>You are in:</h4>
        {% include snippets/breadcrumbs.html %}

        {% include document_options/search.html %}
    </div>
</div>

<!-- Expand Level -->
<div class="row">
    <div class="medium-6 large-7 columns">
        <p>Expand level: <a href="#">1</a> | <a href="#">2</a></p>
    </div>
    <div class="medium-6 large-5 columns">
        <div class="large-5 columns text-center large-text-rightX">
            <label class="inline">Browse By:</label>
        </div>
        <div class="large-7 columns">
            <select id="selBrowseBy" name="selBrowseBy">
               <option value="contentType" selected="selected">Content Type</option>
               <option value="product">Product</option>
               <option value="subjectArea">Subject Area</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="columns">
    <hr>
        {% include toc_output/toc_01.html %}
    </div>
</div>