<div class="lv-export-options sticky-scroll">
    <ul class="lv-inline-list small-gaps text-center medium-text-left">
        <li><a title="Save to My Folders" class="ajax-modal" href="/modal_output/coming-soon.html"><i class="fi-save"></i></a></li>
        <li><a title="Print" class="ajax-modal" href="/modal_output/print-document.html"><i class="fi-print"></i></a></li>
        <li><a title="Export" class="ajax-modal" href="/modal_output/export-document.html"><i class="fi-page-export-doc"></i></a></li>
        <li><a title="Email" class="ajax-modal" href="/modal_output/email-document.html"><i class="fi-mail"></i></a></li>
        <li><a title="Add to My Quicklinks" class="ajax-modal" href="/modal_output/add-to-my-quicklinks.html"><i class="fi-star"></i></a></li>
    </ul>
</div> <!-- .lv-export-options -->