<div class="lv-export-options disabled">
    <ul class="lv-inline-list small-gaps text-center medium-text-left">
        <li><a title="Print" class="ajax-modal" href="/modal_output/print-document.html"><i class="fi-print"></i></a></li>
        <li><a title="Export" class="ajax-modal" href="/modal_output/export-document.html"><i class="fi-page-export-doc"></i></a></li>
        <li><a title="Email" class="ajax-modal" href="/modal_output/email-document.html"><i class="fi-mail"></i></a></li>
        <li><a title="Add to My Quicklinks" class="ajax-modal" href="/modal_output/add-to-my-quicklinks.html"><i class="fi-star"></i></a></li>
    </ul>
</div> <!-- .lv-export-options -->

{% comment %}
<div class="lv-export-options disabled">
    <div href="#" class="lv-has-dropdown button radius small knockout">Export Options &nbsp;<i class="fa fa-caret-down"></i>
        <ul class="lv-dropdown">
            <li><a class="ajax-modal" href="/modal_output/print-search.html"><i class="fi-print"></i>Print</a></li>
            <li><a class="ajax-modal" href="/modal_output/export-document.html"><i class="fi-page-export-doc"></i>Export</a></li>
            <li><a class="ajax-modal" href="/modal_output/email-search.html"><i class="fi-mail"></i>Mail</a></li>
            <li><a class="ajax-modal" href="/modal_output/coming-soon.html"><i class="fi-alert"></i>Add Alert</a> </li>
            <li><a class="ajax-modal" href="/modal_output/coming-soon.html"><i class="fi-calendar"></i>Add to Calendar</a></li>
            <li><a class="ajax-modal" href="/modal_output/coming-soon.html"><i class="fi-rss"></i>Add to RSS</a></li>
        </ul>
    </div>
</div>
{% endcomment %}

{% comment %}
<!-- OUTPUT FROM CHECKPOINT -->

<div id="documentoptions" class="clearfix">
    <form method="POST" class="tocDelivery" target="delivFrame" action="/maf/app/delivery/document" id="deliveryFormToc">
        <div id="documentoptionicons">
            <span class="deliveryicon" title="Print documents"><img src="/cpau/images/ico_print.png" alt="Print documents" id="printBrowseToc"></span>
            <span class="deliveryicon" title="Download documents"><img src="/cpau/images/ico_export16.png" alt="Download documents" id="saveBrowseToc"></span>
            <span class="deliveryicon" title="Email documents"><img src="/cpau/images/ico_email.png" alt="Email documents" id="emailBrowseToc"></span>

            <span class="deliveryicon" title="Create Individual alert">
                <a id="indAlertCTA"><img src="/cpau/images/ico-alert.png" alt="" title="Create my email alert" id="indAlertContainer" my="" email="" alertisindalert="true" data-newalert-url="/maf/api/alerts/individual/form" data-editalert-url="/maf/api/alerts/individual/alerts" data-alert-subsid="" data-success-redirect="/maf/app/individual/view"></a>
                <div title="Edit Alert" style="display:none" id="indAlertDialog" data-alertname-url="/maf/api/alerts/individual/.json"></div>
            </span>

            <span class="deliveryicon" title="Create Organisational alert">
                <img src="/cpau/images/ico_orgalert.png" alt="" click="" to="" create="" an="" organisational="" alert"="" "="" id="orgAlertContainer" title="Click to create an Organisational Alert" isorgalert="true" data-newalert-url="/maf/api/alertctr/alerts/organizational/settings" data-editalert-url="/maf/api/alertctr/alerts//organizational" data-alert-guid="" data-success-redirect="/maf/api/alertctr/alerts/organizational/view" data-alert-subsid="">
                <div title="Edit Alert" style="display:none" id="orgAlertDialog" data-alertname-url="/maf/api/alertctr/alerts//organizational/name"></div>
            </span>

            <a id="rsslink">
                <img src="/cpau/images/icons/ico-rss.png" alt="Create RSS Feed" title="Create RSS Feed" id="rssContainer">
            </a>
        </div>

        <fieldset>
            <input type="hidden" name="deliveryTarget" id="deliveryTargetToc">
            <input type="hidden" name="isMultiDoc" value="true">
        </fieldset>
    </form>
</div>
{% endcomment %}