{% assign title = include.title %}
{% assign id = title | slugify %}

<div class="row">
    <div class="medium-3 columns">
        <label for="start-date-{{id}}" class="text-left medium-text-right">
            <span class="text lv-tooltip" title="This is a tooltip. In production, this will display information about the selected field.">{{title}}</span>
        </label>
    </div>
    <div class="medium-9 columns">
        <div class="row">
            <div class="medium-4 columns">
                <input class="ui-datepicker" type="text" name="{{title}} Start Date" placeholder="Start Date" id="start-date-{{id}}">
            </div>
            <div class="medium-4 columns">
                <input class="ui-datepicker" type="text" name="{{title}} End date" placeholder="End Date" id="end-date-{{id}}">

                <!-- Hidden for accessibility -->
                <label for="end-date-{{id}}" class="hide">Judgement End Date</label>

            </div>
            <div class="medium-4 columns">
                <input type="checkbox" name="Judgement Exact Date" id="exact-{{id}}">
                <label for="exact-{{id}}">Exact Date</label>
            </div>
        </div>
    </div> <!-- .medium-9 -->
</div> <!-- .row -->