/*
 * Copyright 2009 Thomson Reuters Global Resources AG. All Rights Reserved.
 * Proprietary and Confidential information of TRGR.
 * Disclosure, Use or Reproduction without the written authorization of TRGR is prohibited.
 */

body {color: #505050;font-family: Arial, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;background:#eee url(../images/bg-body.gif) repeat-y 50% 0;font-size: 80%;height:100%}
body#iframe{max-width: 100% !important;min-width: 0px !important;}


html {height: 100%;}
#outercontainer {margin: 0px auto -22px auto;max-width:1280px;width:100%;background-color:#fff;height:100%}
textarea { resize: none;}
#headerAndContainer {	min-height: 100%}
a {	color: #005DA2;	text-decoration: none;	line-height:1.5em}
a:hover {	text-decoration:underline;}
#footer a:hover {	text-decoration: underline;}
em, i {	font-style: italic;}
b, strong {	font-weight: bold;}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/*
    // ========================================== \\
   ||                                              ||
   ||               Font Decs	                   ||
   ||                                              ||
    \\ ========================================== //
*/
@font-face {
    font-family: 'KnowledgeLight';
    src: url('../fonts/knowledge-light-webfont.eot');
    src: url('../fonts/knowledge-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/knowledge-light-webfont.woff') format('woff'),
         url('../fonts/knowledge-light-webfont.ttf') format('truetype'),
         url('../fonts/knowledge-light-webfont.svg#KnowledgeLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KnowledgeMedium';
    src: url('../fonts/knowledge-medium-webfont.eot');
    src: url('../fonts/knowledge-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/knowledge-medium-webfont.woff') format('woff'),
         url('../fonts/knowledge-medium-webfont.ttf') format('truetype'),
         url('../fonts/knowledge-medium-webfont.svg#KnowledgeMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KnowledgeRegular';
    src: url('../fonts/knowledge-regular-webfont.eot');
    src: url('../fonts/knowledge-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/knowledge-regular-webfont.woff') format('woff'),
         url('../fonts/knowledge-regular-webfont.ttf') format('truetype'),
         url('../fonts/knowledge-regular-webfont.svg#KnowledgeRegularRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wlmodal.ui-dialog { position: fixed; padding: 0em; width: 300px; overflow: visible;background-color:#fff;font-family:arial, Helvetica, Sans-Serif;  font-size: 1em !important;}
.wlmodal .ui-widget-content { border: 1px solid #999;  color: #333333; }
.wlmodal.ui-dialog.ui-widget-content.ui-corner-all {border-radius: 10px 10px 10px 10px !important;}
.wlmodal.ui-dialog.ui-widget-content {border: 2px solid #AAAAAA;box-shadow: 0 0 20px -4px #666666;}

.wlmodal .ui-state-highlight, .wlmodal .ui-widget-content .ui-state-highlight, .wlmodal .ui-widget-header .ui-state-highlight  {border: 1px solid #fed22f; background: #ffe45c url(../images/bg-header.png) 50% top repeat-x; color: #fff; }
.wlmodal .ui-widget-header {border-top-left-radius:0px !important;border-top-right-radius:0px !important;border-bottom-left-radius:0px !important;border-bottom-right-radius:0px !important;background:  url(../images/bg-header.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.wlmodal .ui-widget-header .ui-icon {background-image: url("../images/ui-icons_222222_256x240.png");}
.wlmodal .ui-icon { width: 16px; height: 16px; background-image: url(../images/JqueryUI/ui-icons_222222_256x240.png); }
.wlmodal .ui-widget-content .ui-icon {background-image: url(../images/JqueryUI/ui-icons_222222_256x240.png); }
.wlmodal .ui-widget-content a {color:#005a84;}
.wlmodal .ui-widget-content a:hover {text-decoration:underline}
.wlmodal .ui-widget-header .ui-icon {background-image: url(../images/JqueryUI/ui-icons_ffffff_256x240.png); }
.wlmodal .ui-state-default .ui-icon { background-image: url(../images/JqueryUI/ui-icons_ef8c08_256x240.png); }
.wlmodal .ui-state-hover .ui-icon, .wlmodal .ui-state-focus .ui-icon {background-image: url(../images/JqueryUI/ui-icons_ef8c08_256x240.png); }
.wlmodal .ui-state-active .ui-icon {background-image: url(../images/JqueryUI/ui-icons_ef8c08_256x240.png); }
.wlmodal .ui-state-highlight .ui-icon {background-image: url(../images/JqueryUI/ui-icons_228ef1_256x240.png); }
.wlmodal .ui-state-error .ui-icon, .wlmodal .ui-state-error-text .ui-icon {background-image: url(../images/JqueryUI/ui-icons_ffd27a_256x240.png); }

.wlmodal.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;border-top-right-radius:8px !important; border-top-left-radius:8px !important  }
.wlmodal.ui-dialog .ui-dialog-title { color:#fff;float: left; margin: .1em 16px .1em 0;font-family:KnowledgeRegular, Arial, Helvetica, Sans-serif;font-weight:normal; }
.wlmodal.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; background-color: inherit;}
.wlmodal.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.wlmodal.ui-dialog .ui-dialog-titlebar-close:hover, .wlmodal.ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.wlmodal.ui-dialog {background:#fff !important}
.wlmodal.ui-dialog .ui-dialog-content { position: relative; border: 0; margin: 0em; overflow: auto; zoom: 1;margin:1em;line-height:1.3em;padding:0em;; }
.wlmodal.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 0px 0 0 0; background-image: none; background-color:transparent;margin: 0; padding: 0; }
.wlmodal.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.wlmodal.ui-dialog .ui-dialog-buttonpane button { cursor: pointer; margin: 0.5em 0.4em 0.5em 0;}
.wlmodal.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

.wlmodal h1 {font-family:KnowledgeMedium, Arial, Helvetica, Sans-serif;font-size:1.4em;font-weight:normal;margin:0px 0 0 0px;padding-bottom:8px}
.wlmodal h2 {font-family:KnowledgeRegular, Arial, Helvetica, Sans-serif;font-size:1.4em;font-weight:normal;margin:10px 0 5px}
.wlmodal table {margin:15px 0}
.wlmodal table tr {}
.wlmodal table tr th {text-align:left;padding:3px 5px;}
.wlmodal table tr td {padding:3px 5px;}
.wlmodal tr td, .wlmodal tr th {text-align:left;border-bottom:1px solid #b2b2b2 !important;}
.wlmodal tr th {font-weight:bold;}
.modalwindow {display:none;}
