.docContent #wrapperContentJournals {
	float:left;
	width: 70%;
	margin:10px 0 0;
}

.docContent .biblio {
	font-style: italic;
	font-weight:bold;
 	text-align: center;
 	margin: 25px 0px;
}

#wrapperContentJournals div.abstract {
	font-style: italic;
	margin: 0 1.5em;
}

/* #dispJournals  li {
	margin: 0px 0px 0px 20px !important;
}

#dispJournals  li.dash {
	margin: 0px 0px 0px 20px !important;
	list-style: square;
}

#dispJournals  li.bullet {
	margin: 0px 0px 0px 20px !important;
	list-style: disc;
}

#dispJournals  li.alpha {
	margin: 0px 0px 0px 20px !important;
	list-style: lower-alpha;
}

#dispJournals li.alphaUpper {
	margin: 0px 0px 0px 20px !important;
	list-style: upper-alpha;
}

#dispJournals li.roman {
	margin: 0px 0px 0px 20px !important;
	list-style: lower-roman;
}

#dispJournals li.romanUpper {
	margin: 0px 0px 0px 20px !important;
	list-style: upper-roman;
}

#dispJournals li.decimal {
	margin: 0px 0px 0px 20px !important;
	list-style: decimal;
}

#dispJournals .footnoteContent p {
	display: inline;
}

#dispJournals div.abstract {
	margin: 10px 0px 25px;
	text-align: left;
}

#dispJournals p.biblio {
	font-style: italic;
	font-weight:bold;
 	text-align: center;
 	margin: 25px 0px;
}

#dispJournals div.blockquote {
	margin:0px 0px 0px 35px;
}

#wrapperContentJournals {
	float:left;
	width: 70%;
	margin:10px 0 0;
	font-size:1em;
	margin: 0.5em 0;
	line-height: normal;
}

#wrapperContentJournals p.paragraph {
	font-size: 1em;
}

#container a.PPV {
	color: #0083bf;
	background-image: url("../images/ppv_active.png");
	background-position: right center;
	background-repeat: no-repeat;
	padding: 3px 24px 3px 0;
}

#dispJournals n-hit {
	background-color: yellow;
	font-weight: bold;
} */