/*
    LIQUIDVISUAL SETTINGS :: A Personal Framework

    - Last updated: 15.10.14
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Alerts
//-----------------------------------------------------------------

$hide-page-for-incompatible: false;
// $alert-color: #DB2D39;
// $info-color: #A0D2E7;
// $success-color: #43AE6E;
// $warning-color: #F08B2E;
// $alert-font-color: white;
// $alert-font-size: 15px;
// $alert-opacity: .95;

//-----------------------------------------------------------------
// Hero
//-----------------------------------------------------------------

// $hero-height: rem-calc(500);
// $hero-background-attachment: inherit;
// $hero-caption-bg: none;
// $hero-caption-font-size-small: 0.8em;
// $hero-caption-font-size-medium: 1em;
// $hero-caption-paragraph-font-size: 1.5em;
// $hero-caption-color: white;
// $hero-text-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
// $hero-carousel-bullet-size: 1rem;
// $hero-caption-bullet-bg-active: $primary-color;
// $hero-caption-button-bg: $tertiary-color;
// $heactive-bullet-bg: white;

//-----------------------------------------------------------------
// Inline List
//-----------------------------------------------------------------

// $inline-list-spacing: rem-calc(5);

//-----------------------------------------------------------------
// NProgress
//-----------------------------------------------------------------

// $medium-breakpoint: 48.000em;
// $nprogress-bar-background-color: #29d;
// $nprogress-bar-height: 2px;
// $nprogress-bar-z-index: 1031;
// $nprogress-blur-effect-display: block;
// $nprogress-spinner-display: block;
// $nprogress-spinner-top: 15px;
// $nprogress-spinner-top-medium: $nprogress-spinner-top;
// $nprogress-spinner-right: 15px;
// $nprogress-spinner-margin-right: 0;
// $nprogress-spinner-icon-size: 18px;
// $nprogress-spinner-icon-border-width: 2px;

//-----------------------------------------------------------------
// Toolbox
//-----------------------------------------------------------------

// $body-bg: #fff;
// $font-smoothing: antialiased;
// $primary-color: #008CBA;
// $table-thead-border-bottom: 2px solid #555;
// $include-code-styles: true;
// $include-developer-styles: true;
// $include-example-styles: true;
$include-form-styles: false;
// $include-helper-styles: true;
$include-hr-styles: false;
// $include-prevent-horizontal-scrolling: false;
// $include-snap-grid: true;
// $include-table-styles: true;
// $include-text-selection-styles: true;



