<!-- START CHECKPOINT OUTPUT -->

<section id="sidebar">
    <h1>Search Templates</h1>
    <ul id="mysearch" class="toplevel">
        <li class="{% if page.url == "/research/" %}active{% endif %}">
            <a href="#" id="std-anz-formhelp-basic" class="searchTemplateHelpIcon"><img src="/cpau/images/ico_info12b.png" alt=""></a>
            <a id="lnkAUSearch_std-anz-default" href="/research/">Basic</a>
        </li>
        <li class="{% if page.url == "/research/cases/" %}active{% endif %}">
            <a href="#" id="std-anz-formhelp-cases" class="searchTemplateHelpIcon"><img src="/cpau/images/ico_info12b.png" alt=""></a>
            <a id="lnkAUSearch_std-anz-cases" href="/research/cases/">Cases</a>
        </li>
        <li>
            <a href="#" id="std-anz-formhelp-legis" class="searchTemplateHelpIcon"><img src="/cpau/images/ico_info12b.png" alt=""></a>
            <a id="lnkAUSearch_std-anz-legis" href="/research/cases/">Legislation / Commentary</a>
        </li>
        <li>
            <a href="#" id="std-anz-formhelp-journals" class="searchTemplateHelpIcon"><img src="/cpau/images/ico_info12b.png" alt=""></a>
            <a id="lnkAUSearch_std-anz-journals" href="/research/cases/">Journals</a>
        </li>
        <li>
            <a href="#" id="std-anz-formhelp-curraware" class="searchTemplateHelpIcon"><img src="/cpau/images/ico_info12b.png" alt=""></a>
            <a id="lnkAUSearch_std-anz-curraware" href="/research/cases/">News</a>
        </li>
        <li>
            <a href="#" id="std-anz-formhelp-govregs" class="searchTemplateHelpIcon"><img src="/cpau/images/ico_info12b.png" alt=""></a>
            <a id="lnkAUSearch_std-anz-govregs" href="/research/cases/">Government and Regulatory</a>
        </li>
        <div id="templateInstructionPopup"></div>
    </ul>
</section>

<!-- END CHECKPOINT OUTPUT -->