<ul>
    <li class="hide-for-large-up"><a href="#"><img width="30" src="/img/ui/no-face.png" alt="Profile Icon">&nbsp; John Smith<br><small>john.smith@thomsonreuters.com | Logout</small></a></li>
    <li><a href="/history/"><i class="fi-clock"></i>&nbsp; History</a></li>
    <li><a href="/modal_output/change-client-id.html" class="ajax-modal"><i class="fi-torso"></i>&nbsp; Client ID</a></li>
    <li><a href="/preferences/"><i class="fi-widget"></i>&nbsp; Preferences</a></li>
    <li class="hide-for-large-up"><a href="#"><i class="fi-male"></i>&nbsp; Help</a></li>
</ul>