{% assign settings = site.data[page.site_type].settings %}

<div class="lv-sidebar-inner">

	<!-- TOUCH MENU TABS -->
	<ul class="lv-tabs">
		{% for item in settings.touch_menu offset: 1 %}
		    <li class="{% if forloop.first %} active {% endif %}">
		    	<a title="{{ item.title }}" href="#">
		    		<i class="{{ item.icon }}"></i>
		    		<span class="text">{{ item.title }}</span>
		    	</a>
		    </li>
		{% endfor %}

		<!-- Close Btn (Locked in place) -->
		<li class="collapse-btn">
			<a title="Hide" href="#">
			<i class="fi-arrow-right"></i>
			<span class="text">Hide</span></a>
		</li>

	</ul> <!-- .lv-tabs -->

	<!-- TABS CONTENT -->
	<div class="tabs-content">

		{% for item in settings.touch_menu offset: 1 %}
			<section class="content {% if forloop.first %} active {% endif %}">

				<header class="lv-header lv-global-header lv-sidebar-header hide-for-large-up">
					<h1>{{ item.title }}</h1>
					<a class="js-close-btn" href="#">Close</a>
				</header>

				<!-- Each page can pass their own Hints as an include -->

				{% if item.title == "Hints" %}

				    {% if page.sidebar_details %}
				    	{% include {{ page.sidebar_details }} %}
				    {% else %}
				    	{% include {{ page.site_type | append: "/sidebar_content/" | append: "hints" | append: "/default.html" }} %}
				    {% endif %}

				{% else %}
					{% include {{ page.site_type | append: "/sidebar_content/" | append: item.title | append: "/default.html" }} %}
				{% endif %}

			</section>
		{% endfor %}

	</div> <!-- .tabs-content -->
</div> <!-- .lv-side-bar-inner -->