@import "foundation/settings";
@import "foundation/components/buttons";
/*
    MAIN.CSS

    - Last updated: 13.11.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$primary-color: #FC8946;
$secondary-color: #FEA66C; //#2C2C2C;
$tertiary-color: #5E6E7E; //#125BA2;
$dark-grey: #2C2C2C;
$border-color-light: #D4DCE3;

$header-height: 60px;
$primary-nav-width: 65px;
$primary-nav-height: 40px;
$secondary-nav-width: 260px;
$sidebar-width: 300px;
$sidebar-width-collapsed: 50px;
$footer-height: 40px;
$footer-background: #222222;

//-----------------------------------------------------------------
// Global
//-----------------------------------------------------------------

html, body {
	// overflow-x: hidden;
}

//-----------------------------------------------------------------
// lv-super: top-most non-visual wrapper | lv-page: visual wrapper
//-----------------------------------------------------------------

.lv-page {

	@media #{$medium-up} {
		// padding-top: 0;
	}
}

//-----------------------------------------------------------------
// Icons - Use to extend
//-----------------------------------------------------------------

.foundation-icons {
	font-family: "foundation-icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	text-decoration: inherit;
}

//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.lv-header {
	position: fixed;
	top: 0;
	width: 100%;
	background: url(../img/template/nav-gradient.png) repeat-x; /* fallback */
	height: $header-height;
	z-index: 110; // bring above nav

	.logo {
		padding: rem-calc(0 30);
	}
}

//=========================================
// Mobile Nav
//=========================================

.user-profile {
	position: absolute;
	top: 0;
	right: 20px;
	height: $header-height;
	padding: 9px;
}

.user-profile-title {
	display: block;
	color: white;
	line-height: 1;
	font-size: 18px;
}

.user-profile-pic {
	position: relative;
	margin-left: 10px;
	box-shadow: 0 3px 5px -6px rgba(0, 0, 0, 0.26);
	cursor: pointer;

	padding-bottom: 9px; // allow hit area to extend to dropdown

	i {
		@extend .transition;
		color: white;
	}
}

.user-profile .logout-btn {
	@extend .transition;
	color: #222;
	font-size: 11px;
	font-weight: 600;

	&:hover {
		color: white;
	}
}

.logo-switcher-wrapper {
	display: inline-block;
	margin: 0;

	li {
		margin: 0;
		padding: 0;
	}
}

//=========================================
// User Menu Dropdown
//=========================================

.user-profile-pic:hover .user-profile-dropdown {
	height: auto;
	opacity: 1;
}

.user-profile-pic:hover i.fa-caret-down {
	color: #222;
}

.user-profile-pic a:hover i {
	color: $primary-color;
}

.user-profile-dropdown {
	@extend .transition;
	opacity: 0;
	height: 0;
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.08);
	overflow: hidden;
	position: absolute;
	top: 100%;
	right: 0;
	background: white;
	border-left: 1px solid #D4DCE3;
	border-right: 1px solid #D4DCE3;
	width: rem-calc(180);
	border-radius: 0 0 $global-radius $global-radius;

	ul {
		font-size: rem-calc(12);
		font-weight: 600;
		list-style: none;
		margin: 0;
		text-align: left;
	}

	i {
		// color: #666;
		color: #94999C;
	}

	a {
		// @extend .transition;
		display: block;
		padding: rem-calc(10 15);
		border-bottom: 1px solid #D4DCE3; // better blue? #E1E4E6
		color: #505659;//#676767;

		&:hover {
			// color: $primary-color;
			background: #F2F4F5;
		}
	}
}

//=========================================
// Mobile Nav Btn (user menu)
//=========================================

.lv-hamburger {
	width: 50px;
	height: $header-height;
	line-height: $header-height;
	color: white;
	text-align: center;
	font-size: 26px;
	/* refactor */
	display: none;

	// Removed on dashboard
	&.remove {
		display: none !important;
	}

	@media (max-width: 900px) {
		// display: block !important;
		display: block;
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------



//=========================================
// refactor
//=========================================

.exclude-menu {

	.lv-sidebar {
		display: none;
	}

	.lv-context-menu {
		// width: $primary-nav-width;
		display: none;

		.secondary-nav {
			display: none;
		}
	}
}

//-----------------------------------------------------------------
// Banner
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Breadcrumbs
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Stage
//-----------------------------------------------------------------

.lv-stage {
	position: relative;
	display: table;
	width: 100%; /* added 3.11.14 for toolbar at weird small breakpoint */
	overflow-x: hidden; /* stops sidebar breaking out with the -1px x value */
	// top: $header-height;
	top: $header-height;
	overflow-y: scroll;

	@media #{$large-up} {
		top: $header-height + $primary-nav-height;
	}

	@media #{$medium-up} {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		padding: 0;
	}
}

.homepage .lv-stage {
	background: #DEDEDE;
}

//-----------------------------------------------------------------
// Main Content Area
//-----------------------------------------------------------------

.lv-main {
	padding: rem-calc(20 0 80 0);

	@media #{$medium-up} {
		padding: rem-calc(20 ($sidebar-width-collapsed + 20) 60 20);
	}

	@media #{$large-up} {
	    padding-right: rem-calc(20);
	}
}

// Ignore gaps left for sidebar on internal pages
.homepage .lv-main {

	.row {
		max-width: 1200px;
	}

	@media #{$medium-up} {
	    padding: rem-calc(20 20 50 20);
	}
}

// No context menus or sidebar - Preferences uses it
.internal-minimal .lv-main {

	.row {
		max-width: 900px;
	}

	@media #{$medium-up} {
	    padding: rem-calc(20 20 50 20);
	}
}

//-----------------------------------------------------------------
// Sections
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Media Object
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Modules
//-----------------------------------------------------------------
//=========================================
// Modal
//=========================================



//=========================================
// Country Toggle
//=========================================

.country-toggle {
	display: inline-block;
	margin-top: 11px;
}

.country-toggle select {
	border-radius: $global-radius;
	border: 1px solid white;
	background: transparent;
	color: white;
	padding-right: 0;
	width: 130px;
	text-align: center;
}

.country-toggle {
	position: relative;
}

.country-toggle:after {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -9px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: white;
	border-width: 5px;
	margin-left: -5px;
}

//-----------------------------------------------------------------
// Footer
//-----------------------------------------------------------------

.lv-footer {
	position: relative;
	padding: rem-calc(5 15 10 15);
	// border-top: 1px solid $border-color-light;
	background: $footer-background;
	// overflow: hidden;
	z-index: 10;

	a {
		color: white;
	}

	@media #{$medium-up} {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		height: $footer-height;
		line-height: $footer-height;
		padding: rem-calc(0 15);
	}
}

//=========================================
// Footer Links
//=========================================

.lv-footer-links a {
	@extend .transition;
	font-size: rem-calc(12);
	line-height: $footer-height;

	&:hover {
		color: grey;
	}

	/* needs some bigger gaps */
	@media #{$medium-up} {
		padding: rem-calc(0 5);
	}
}

//=========================================
// Footer Legal
//=========================================

.lv-footer-legal {
	font-size: rem-calc(11);
	line-height: 0;
	color: grey;
}

//=========================================
// Dropdown
//=========================================

.lv-footer-links li.has-dropdown {
	position: relative;
	display: none;

	@media #{$large-up} {
	    display: inline-block;
	}

	&:hover {
		background: lighten($footer-background, 10%);

		a {
			color: white; // override grey
		}
	}

	&:hover .lv-dropdown {
		height: auto;
		opacity: 1;
	}
}

.lv-footer-links .lv-dropdown {
	@extend .transition;
	opacity: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
	bottom: 100%;
	left: 0;
	width: rem-calc(200);
	font-size: rem-calc(12);
	font-weight: 600;
	list-style: none;
	margin: 0;
	text-align: left;
	background: lighten($footer-background, 10%);
	border-radius: $global-radius $global-radius 0 0;

	a {
		display: block;
		padding: rem-calc(0 15);
		border-top: 1px solid $footer-background;

		&:hover {
			background: $footer-background;
		}

		i {
			padding-right: rem-calc(5);
			color: $primary-color;
		}
	}

	li:first-child a {
		border: 0;
	}
}

//-----------------------------------------------------------------
// Social Networks
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Template Buttons
//-----------------------------------------------------------------

input[type="button"],
input[type="submit"] {
	@include button;
	border-radius: $global-radius;
	cursor: pointer;
}

.lv-super .pill {
	padding: rem-calc(2 8);
	background: grey;
}

.lv-sidebar .pill {
	float: right;
	margin-top: rem-calc(6);
}

//-----------------------------------------------------------------
// Forms
//-----------------------------------------------------------------

.lv-partial-view {
	position: relative;
	max-height: rem-calc(220);
	margin-bottom: rem-calc(20);
	overflow: hidden;

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		// height: rem-calc(100);
		background: $primary-color;
	}

	@media #{$medium-up} {
	    max-height: none;
	    margin: 0;
	}
}

//-----------------------------------------------------------------

.lv-doc-options {
	position: relative;
	background: white;
	overflow: hidden;
	border: 1px solid #DDDDDD;
	border-radius: $global-radius;
	padding: rem-calc(10 15);
	margin-bottom: rem-calc(20);

	ul {
		position: relative;
		font-size: rem-calc(25);
		margin-bottom: rem-calc(20);

		@media #{$large-up} {
			margin-bottom: 0;
		}
	}

	select {
		@media #{$medium-up} {
		    margin-bottom: 0;
		}
	}
}

// Buttons are unclickable when disabled

.lv-doc-options.disabled ul {
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	a {
		color: #DDDDDD;
		cursor: default;
	}
}

.lv-doc-navigation {
	list-style: none;
	margin-left: 0;
	line-height: 1.2;

	.lv-doc-navigation-item {
		display: inline-block;
		padding: rem-calc(0 15);
		margin-bottom: rem-calc(10);
	}

	.text {
		font-size: rem-calc(14);
		display: inline-block;
		width: 40px;
		text-align: center;
	}

	.button {
		margin-bottom: 0;
		padding: rem-calc(2 10);

		&.disabled {
			border-color: #ddd;
			background: none;
			color: #ddd;
		}
	}
}

//-----------------------------------------------------------------
// Tooltips
//-----------------------------------------------------------------

.lv-tooltip {
	position: relative;
	@media #{$medium-up} {
	    background: url(../img/ui/dots-black.png) repeat-x bottom;
	}
}

.lv-tooltip .title {
    position: absolute;
    top: 20px;
    left: 0;
    text-align: left;
    font-size: rem-calc(13);
    width: rem-calc(300);
    background: white;
    border: 2px solid $primary-color;
    padding: rem-calc(15);
    left: 0;
    z-index: 1000;
}

//-----------------------------------------------------------------
// Misc
//-----------------------------------------------------------------

.lv-super .pagination {
	display: inline-block; // so we can text-align it
}

.postfix {
	position: relative;
	left: -2px;
}

.table-cell {
	position: relative;
	display: table-cell;
	vertical-align: top;
	height: 100%;
}

.tooltip-icon {
	padding-left: 10px;
	font-size: 20px;
}

.row.is-full-width {
	max-width: none;
}

//-----------------------------------------------------------------
// Animations
//-----------------------------------------------------------------

.transition {
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	     -o-transition: all .2s linear;
	    -ms-transition: all .2s linear;
	        transition: all .2s linear;

	-webkit-transition-property: opacity, color, width, background, transform;
	   -moz-transition-property: opacity, color, width, background, transform;
	     -o-transition-property: opacity, color, width, background, transform;
	    -ms-transition-property: opacity, color, width, background, transform;
            transition-property: opacity, color, width, background, transform;
}

//-----------------------------------------------------------------
// Themes
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Includes
//-----------------------------------------------------------------

@import "partials/dashboard";
@import "partials/context_menu";
@import "partials/datepicker";
@import "partials/topbar";
@import "partials/sidebar";
@import "partials/legacy";
@import "partials/legacy_document";
@import "partials/legacy_search_templates";
@import "partials/modal";
@import "partials/fonts";
@import "partials/foundation-icons";

//=========================================
//
//=========================================