#ui-datepicker-div {
	border: 1px solid #B4B6B4;
	background-color: #FFFFFF;
	padding: 5px;
	display: none;
}

#ui-datepicker-div td {
	border: 1px solid #B4B6B4;
}

#ui-datepicker-div a {
	cursor: pointer;
}
