---
layout: common/master
---

<!-- HEADER -->
<header class="lv-header">
    {% include {{page.site_type}}/modules/header.html %} <!-- Unique -->
</header>

<!-- NAVIGATION -->
<nav class="lv-navigation show-for-large-up">
    <div class="lv-topbar">
        {% include common/menus/top_menu.html %} <!-- Common -->
    </div>
</nav>

<!-- STAGE -->
<section class="lv-stage">

    <!-- CONTEXT MENU -->
    <nav class="lv-context-menu">
        {% include common/menus/context_menu.html %} <!-- Common -->
    </nav>

    <!-- MAIN -->
    <main class="lv-main">

        <!-- CONTENT -->
        <div class="lv-content">
            <div class="row">
                <div class="columns">

                    <!-- HEADER -->
                    <header class="header">
                        {% include common/modules/content_header.html %} <!-- Common -->
                    </header>

                    {{ content }}

                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="lv-footer">
            {% include common/modules/footer.html %} <!-- Common -->
        </footer>

    </main> <!-- .lv-main -->

    <!-- SIDEBAR -->
    <aside class="lv-sidebar">
        {% include common/modules/sidebar.html %} <!-- Common -->
    </aside>

</section> <!-- .lv-stage -->

<!-- TOUCH MENU -->
<div class="lv-touch-menu hide-for-large-up">
    {% include common/menus/touch_menu.html %} <!-- Common -->
</div>