<!DOCTYPE html>
<!--[if lt IE 8]>       <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if lt IE 9]>       <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>          <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->  <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable={% if page.user_scalable %}yes{% else %}no{% endif %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{ page.site_type | capitalize }}">
    <title>{{ page.title }} - {{ page.site_type | capitalize }}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ site.assets }}/img/{{ page.site_type }}/template/favicon.ico">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.assets }}/img/{{ page.site_type }}/template/apple-touch-icon.png">

    <!-- Google Fonts CDN -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700">

    <!-- build:css({src,.tmp}) /assets/css/{{ page.site_type }}/foundation.css -->
    <link rel="stylesheet" href="/css/{{ page.site_type }}/foundation/app.css">
    <!-- endbuild -->

    <!-- build:css({src,.tmp}) /assets/css/{{ page.site_type }}/legacy-core.css -->
    <link rel="stylesheet" href="/css/{{ page.site_type }}/app/legacy/original/all.css">
    <!-- endbuild -->

    <!-- build:css({src,.tmp}) /assets/css/{{ page.site_type }}/app.css -->
    <link rel="stylesheet" href="/_bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" href="/_bower_components/footable/css/footable.core.css">
    <link rel="stylesheet" href="/css/{{ page.site_type }}/liquidvisual/liquidvisual.css">
    <link rel="stylesheet" href="/css/{{ page.site_type }}/main.css">
    <!-- endbuild -->

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="/assets/css/{{page.site_type}}/minified-ie8.css">
    <![endif]-->

    <!-- Priority Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>

    <!--[if lt IE 9]>
    <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
    <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="lv-super">
        <div class="lv-page">

            {{ content }}

        </div> <!-- .lv-page -->
    </div> <!-- .lv-super -->

    <!-- ***** JAVASCRIPT ***** -->

    <!-- build:js(src) /assets/scripts/{{ page.site_type }}/app.js -->
    <script src="/_bower_components/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="/_bower_components/jquery.scrollTo/jquery.scrollTo.min.js"></script>
    <script src="/_bower_components/fastclick/lib/fastclick.js"></script>
    <script src="/_bower_components/jquery.transit/jquery.transit.js"></script>
    <script src="/_bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="/_bower_components/nprogress/nprogress.js"></script>
    <script src="/_bower_components/footable/js/footable.js"></script>
    <script src="/_bower_components/footable/js/footable.paginate.js"></script>
    <script src="/_bower_components/footable/js/footable.sort.js"></script>
    <script src="/_bower_components/footable/js/footable.filter.js"></script>
    <script src="/scripts/common/vendor/jquery-ui.js"></script>
    <script src="/scripts/common/app/content-expander.js"></script>
    <script src="/scripts/common/app/context-menu.js"></script>
    <script src="/scripts/common/app/dashboard.js"></script>
    <script src="/scripts/common/app/dropdowns.js"></script>
    <script src="/scripts/common/app/modal.js"></script>
    <script src="/scripts/common/app/sidebar.js"></script>
    <script src="/scripts/common/app/tables.js"></script>
    <script src="/scripts/common/app/tooltips.js"></script>
    <script src="/scripts/common/app/main.js"></script>
    <!-- endbuild -->

    <!-- build:js(src) /assets/scripts/{{ page.site_type }}/adhoc-only.js -->
    <script src="/scripts/common/adhoc/adhoc-datepicker.js"></script>
    <script src="/scripts/common/adhoc/adhoc-export-options.js"></script>
    <script src="/scripts/common/adhoc/adhoc-filter-toc.js"></script>
    <script src="/scripts/common/adhoc/adhoc-list-delete.js"></script>
    <script src="/scripts/common/adhoc/adhoc-toc.js"></script>
    <!-- endbuild -->

    <!-- PLACE ALL OTHER SCRIPTS BELOW HERE -->

    <!-- No Javascript Warning -->
    <noscript>
        <div class="lv-alert lv-unselectable">
            <p>Your browser has Javascript disabled. Some features may be limited.</p>
        </div>
    </noscript>

</body>
</html>