<!-- START WESTLAW SIMULATED OUTPUT -->

<div id="sidebar">
    <h1>Alerts</h1>
    <ul>
        <li class="{% if page.url == '/pages/westlaw/alerts/' %} active {% endif %}"><a href="/pages/westlaw/alerts/">My Email Alerts</a></li>
        <li><a href="#">Alerts I Can Subscribe To</a></li>
        <li><a href="#">My RSS Feeds</a></li>
        <li><a href="#">Alert24 Breaking News</a></li>
    </ul>
    <h3>Alerts Admin</h3>
    <ul>
        <li><a href="#">Suggested Alerts</a></li>
        <li><a href="#">Organisational Alerts</a></li>
        <li class="{% if page.url == '/pages/westlaw/alerts/manage-contact-permissions/' %} active {% endif %}"><a href="/pages/westlaw/alerts/manage-contact-permissions/">Manage Contact Permissions</a></li>
    </ul>
</div>

<!-- END WESTLAW SIMULATED OUTPUT -->

