<!-- START WESTLAW OUTPUT -->

<div id="sidebar">
    <h1>Search Templates</h1>
    <ul class="toplevel" id="mysearch">
        <li class="{% include common/snippets/is_active.html current_path="basic" %}">
            <a href="/pages/westlaw/research/search-templates/basic/">Basic</a>
        </li>
        <li class="{% include common/snippets/is_active.html current_path="cases" %}">
            <a href="/pages/westlaw/research/search-templates/cases/">Cases</a>
        </li>
        <li><a href="/pages/westlaw/research/search-templates/cases/">Legislation and Commentary</a></li>
        <li><a href="/pages/westlaw/research/search-templates/cases/">Journals</a></li>
        <li><a href="/pages/westlaw/research/search-templates/cases/">Encyclopaedia</a></li><li><a href="/pages/westlaw/research/search-templates/cases/">A to Z of New Zealand Law</a></li>
        <li><a href="/pages/westlaw/research/search-templates/cases/">Forms and Precedents</a></li>
        <li><a href="/pages/westlaw/research/search-templates/cases/">News and Current Awareness</a></li>
        <li><a href="/pages/westlaw/research/search-templates/cases/">Government and Regulatory Materials</a></li>
        <li><a href="/pages/westlaw/newsroom/">NewsRoom</a></li>
        <li><a href="/pages/westlaw/research/search-templates/cases/">Thomson Reuters Forms and Precedents Index</a></li>
    </ul>
</div>

<!-- END WESTLAW OUTPUT -->

