<!-- START WESTLAW OUTPUT -->

<div id="sidebar">
    <h1>Search Templates</h1>
    <ul class="toplevel" id="mysearch">
        <li class="active"><a href="/westlaw/research/" title="Basic">Basic</a></li>
        <li><a id="lnkSearch_std-anz-cases" href="/westlaw/research/cases/">Cases</a></li>
        <li><a id="lnkSearch_std-anz-legis" href="/westlaw/research/cases/">Legislation and Commentary</a></li>
        <li><a id="lnkSearch_std-anz-journals" href="/westlaw/research/cases/">Journals</a></li>
        <li><a id="lnkSearch_std-anz-precedent" href="/westlaw/research/cases/">Encyclopaedia</a></li>
        <li><a id="lnkSearch_std-anz-precedent" href="/westlaw/research/cases/">A to Z of New Zealand Law</a></li>
        <li><a id="lnkSearch_std-anz-precedent" href="/westlaw/research/cases/">Forms and Precedents</a></li>
        <li><a id="lnkSearch_std-anz-curraware" href="/westlaw/research/cases/">News and Current Awareness</a></li>
        <li><a id="lnkSearch_std-anz-govregs" href="/westlaw/research/cases/">Government and Regulatory Materials</a></li>
        <li><a id="lnkSearch_std-anz-precedent" href="/westlaw/newsroom/">NewsRoom</a></li>
        <li><a id="lnkSearch_std-anz-fpindex" href="/westlaw/research/cases/">Thomson Reuters Forms and Precedents Index</a></li>
    </ul>
</div>

<!-- END WESTLAW OUTPUT -->

