/*
    TOPBAR.CSS - *GOLD*

    - Last updated: 13.11.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Navigation (Container)
//-----------------------------------------------------------------

.lv-navigation {
	position: fixed;
	top: $header-height;
	width: 100%;
	background: $dark-grey;
	z-index: 100;
}

//=========================================
// Topbar (Primary Nav)
//=========================================

.lv-topbar {
	width: 100%;
	height: $primary-nav-height;
	background: $dark-grey;

	ul {
		display: table; // No need for clearfix
	}

	li {
		display: inline-block;
		float: left; // flush

		&.active a {
			//color: $primary-color; // Decision to leave out BG color change from active
			background: darken($dark-grey, 30%);
		}

		.home-text {
			@media #{$medium-up} {
			    display: none;
			}
		}
	}

	a {
		@extend .transition;
		display: block;
		padding: rem-calc(0 15);
		font-size: rem-calc(14);
		color: lighten($dark-grey, 60%);
		line-height: $primary-nav-height;

		&:hover {
			background: darken($dark-grey, 5%);
		}
	}

	// Icons are overkill on desktop. Have for mobile menu only. Leave home icon for all.
	i:not(.fi-home) {
		@media #{$medium-up} {
		    display: none;
		}
	}
}

.lv-topbar .lv-topbar-dropdown {
	@media #{$medium-up} {
	    display: none;
	}
}

//-----------------------------------------------------------------
// Offcanvas Menu
//-----------------------------------------------------------------

#off-canvas-menu-left i {
	margin-right: rem-calc(5);
}
