@import "foundation/components/grid";


/*
    LEGACY.CSS

    - Last updated: 20.11.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Search Summary
//-----------------------------------------------------------------

.lv-context-menu {
	input[type="submit"] {
		margin: 5px 15px 15px 15px;
	}

	#resultsummary {
		padding: 15px;
		font-size: 14px;
		border: 1px solid #D4DCE3;
		background: #F5F6F6;
		margin: 15px;
		border-radius: 4px;
	}

	#totalDocumentCount {
		background: $tertiary-color;
		color: white;
		border-radius: 10px;
		padding: 0 8px;
		font-size: 13px;
	}

	#totalDocumentCount,
	.result {
		font-weight: bold;
	}
}

.lv-context-menu #searchoptions,
.lv-context-menu #sessioncontainer {

	a:before {
		@extend .foundation-icons;
		display: inline-block;
		margin-right: 10px;
		color: $primary-color;
		font-size: 18px;
	}

	#editsearch a:before {
		content: "\f194"; // Pencil
	}

	#newsearch a:before {
		content: "\f16c"; // magnifying glass
	}

	#savesearch a:before {
		content: "\f1ac"; // Save
	}

	#origresults a:before,
	#backToPreviousStep a:before {
		content: "\f10a"; // go back
	}

	.session a:before {
		content: "\f12b"; // clock for sessions
		margin-right: 5px;
	}
}


//=========================================
// Filter Search
//=========================================

#searchsummary #metadocs > ul {
	margin-bottom: 15px;
}

// The UL dropdown (hidden until click)
#searchsummary .resultMetadoc {
	padding: 10px 15px;

	li {
		padding: 5px 0;
	}

	input[type="checkbox"] {
		margin: 0;
	}

	a {
		display: inline;
		border: 0;
		padding: 0;
	}
}

#searchsummary .resultMetadocLink:before {
	margin-right: 10px;

	@media #{$medium-up} {
	    margin-right: 5px;
	}
}

//=========================================
// Sessions
//=========================================

.lv-context-menu #sessioncontainer .na {
	color: #999;
	font-size: 14px;
}

//-----------------------------------------------------------------
// Document Options (Context Menu) | Search Results, Recently Accessed
//-----------------------------------------------------------------

// .ui-widget * { outline: none; }​

.lv-context-menu .ui-tabs-active a {
	background: $tertiary-color;
	color: white;
	outline: none;
}

.lv-context-menu #docoptions {
	margin-bottom: 30px;
	border-bottom: 2px solid #D4DCE3;
}

//=========================================
// search results and recently accessed docs are similiar - same icons
//=========================================

.lv-context-menu #recentDocumentsList li a:before,
.lv-context-menu #searchResultPanel a:before,
.lv-context-menu #docoptionscontent .doclist.toplevel a:before {
	@extend .foundation-icons;
	content: "\f18e"; // document icon
	display: inline-block;
	margin-right: 10px;
	color: $primary-color;
	font-size: 18px;
}

.lv-context-menu #searchResultPanel .active a:before {
	color: white;
}

// green flag remove for now
#resultsContainerForm img,
.lv-context-menu .imgFlag {
	display: none;
}

// Hide those little numbers - not used
.lv-context-menu #searchResultPanel .docRank {
	display: none !important;
}

//=========================================
// Doc options - Search Results tab
//=========================================

.lv-context-menu #searchResultTools {
	padding: 0 15px;
	margin-bottom: 20px;

	a {
		display: inline-block;
		line-height: 1;
		// border: 2px solid $primary-color;
		padding: 5px;
		border: 0;
		// border-radius: 3px;
		color: $primary-color;
	}
}

//-----------------------------------------------------------------
// Context Menu
//-----------------------------------------------------------------

.lv-context-menu ul {
	list-style: none;
	margin: 0;
}

// All headings should be the same level heirarchically

.lv-context-menu h1,
.lv-context-menu h2,
.lv-context-menu h3 {
	font-size: 20px; // style has H4
	text-align: center;
	margin: 15px;
}

.lv-context-menu .searchTemplateHelpIcon {
	display: none; // remove until later, hard to implement responsive
}

//-----------------------------------------------------------------
// Research Search Form
// #documentoptionicons span[title="Print documents"],
// #documentoptionicons span[title="Download documents"],
// #documentoptionicons span[title="Email documents"],
// #documentoptionicons span[title="Create Individual alert"],
// #documentoptionicons span[title="Create Organisational alert"],
// #documentoptionicons #rsslink {
//-----------------------------------------------------------------

#documentoptionicons .fullpageicon {
	display: none; // Disabled for this prototype
}

#documentoptionicons .deliveryicon,
#documentoptionicons .saveicon,
#documentoptionicons .save2icon,
#documentoptionicons .temporalAlertIcon,
#documentoptionicons .temporalOrgAlertIcon,
#documentoptionicons #rsslink {

	// position: relative;
	width: rem-calc(40);
	height: rem-calc(40);
	cursor: pointer;

	img {
		display: none;
	}

	&:before {
		@extend .foundation-icons;
		content: "\f19f";
		font-size: rem-calc(30);
		color: $primary-color;
		padding: 5px;
		content: "\f1ee";
	}
}

#documentoptionicons #save2Container:before {
	content: "\f1ac";
}

#documentoptionicons #printContainer:before {
	content: "\f19f";
}

#documentoptionicons #saveContainer:before {
	content: "\f188";
}

#documentoptionicons #emailContainer:before {
	content: "\f16d";
}

#documentoptionicons #emailContainer:before {
	content: "\f16d";
}


#documentoptionicons #temporalAlertContainer:before {
	content: "\f101";
}

#documentoptionicons #save2Container.temporalOrgAlertIcon:before {
	content: "\f203";
}

#documentoptionicons #rsslink:before {
	content: "\f1aa";
}

#prevTermHide {
	display: none;
}

//-----------------------------------------------------------------
// Results
//-----------------------------------------------------------------

#resultsContainerForm {
	margin-bottom: 50px;

	.resultCheckBox {
		float: left;
		margin-right: 15px;
		padding-top: 8px;
	}
}

#navbar {
	padding: 0 !important;
	width: auto !important;
	margin-bottom: 20px;
}

#deliveryForm {
	display: none !important;
}

#documentNavPadOut {
	display: none !important;
}

#prefForm,
#resultsContainerForm .result {
	background: white;
	padding: 20px; // THIS IS A PROBLEM
	border: 1px solid #DDDDDD; // THIS IS A PROBLEM
	margin-bottom: 20px;
	box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.05);
}

#documentDisplay {
	background: white;
	overflow: hidden;
	margin-bottom: 20px;
	padding: 20px; // THIS IS A PROBLEM
	border: 1px solid #DDDDDD; // THIS IS A PROBLEM
	box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.05);

	@media #{$small-only} {
	    padding: 0; // THIS IS A PROBLEM
	    border: 0;
	}
}

#resultsContainerForm ul {
	list-style: none;
	margin: 0;
}

#resultsContainerForm dt.titleLabel {
	display: none;
}

/* title header */
#resultsContainerForm dd.titleBody {
	font-size: 22px;
}

.resultMetadata dt,
.resultTitle dt {
	clear: left;
	float: left;
	width: 130px;
	padding: 2px 0;
	margin-right: 15px;
}

.resultMetadata dd,
.resultTitle dd {
	float: left;
	width: 80%;
	padding: 2px 0;
}

//-----------------------------------------------------------------
// Document
//-----------------------------------------------------------------

#documentDisplay {
	overflow-x: hidden;
	// max-width: 290px;

	@media #{$small-only} {
	    * {
	    	// padding: 0 !important;
	    }
	}

	img {
		display: none;
	}
}

#documentDisplay .wrapper {
	@include grid-row();

	.leftMetadata {
		@include grid-column(3);
	}

	.rightMetadata {
		@include grid-column(9);
	}
}

//-----------------------------------------------------------------
// Preferences
//-----------------------------------------------------------------

#prefForm {
	background: white;
}

// Allow gap for footer in content scroll

#sidebar {
	height: auto !important;
	// overflow: hidden;
}
