/*
    SPECIAL.CSS

    - Last updated: 25.11.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Special
//-----------------------------------------------------------------

.lv-super .pagination {
    display: inline-block; // so we can text-align it
}

.postfix {
    position: relative;
    left: -2px;
}

.row.is-full-width {
    max-width: none;
}

// There is a conflict with F5 and MMenu off-canvas
// This prevents the page jumping to the top
// https://github.com/BeSite/jQuery.mmenu/issues/142

html, body {
    height: auto !important;
}